Repository haiiliin/abqpy, pull requests merged in 2022-08, with the labels that each got.

#10 Remove transformationType argument for OdbMeshRegionData
  src/abaqus/Field/AnalyticalField.py
  src/abaqus/Field/OdbMeshRegionData.py
Labels: enhancement

#11 Change default value for Job.parallelizationMethodExplicit to DOMAIN
  src/abaqus/Job/Job.py
  src/abaqus/Job/JobFromInputFile.py
  src/abaqus/Job/ModelJob.py
Labels: enhancement

#12 Add OdbMeshElement.getNormal
  src/abaqus/Odb/OdbMeshElement.py
Labels: enhancement

#13 Remove SectionLayer.thicknessType and SectionLayer.thicknessField
  src/abaqus/Section/SectionLayer.py
Labels: enhancement

#14 Add maxNumInc argument for GeostaticStep
  src/abaqus/Step/GeostaticStep.py
  src/abaqus/Step/StepModel.py
Labels: enhancement

#15 Sketcher API Changes
  src/abaqus/Sketcher/ConstrainedSketchDimension/DistanceDimension.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ArcByCenterEnds.py
Labels: enhancement

#16 Add Stress predefined field
  src/abaqus/PredefinedField/PredefinedFieldModel.py
  src/abaqus/PredefinedField/Stress.py
Labels: enhancement

#18 Update default value of parallelizationMethodExplicit to LOOP
  src/abaqus/Job/Job.py
  src/abaqus/Job/JobFromInputFile.py
  src/abaqus/Job/ModelJob.py
Labels: bug

#19 Update version to v2017a5
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#21 ci(Mergify): configuration update
  .mergify.yml
Labels: backport-to-stable

#24 Create pull_request_template.md
  .github/pull_request_template.md
Labels: patch, backport-to-stable

#27 Update mergify config
  .mergify.yml
Labels: backport-to-stable

#30 Backport to specific versions
  .mergify.yml
Labels: patch, backport-to-all

#33 Update backport pull request title
  .mergify.yml
Labels: backport-to-all

#36 Fix bugs in backport pull request titles
  .mergify.yml
Labels: patch, backport-to-all

#39 Add pytest files
  .github/workflows/pytest.yaml
  README.md
  docs/source/index.rst
  docs/source/tutorials.rst
  examples/compression-jupyter.ipynb
  examples/compression-output-jupyter.ipynb
  examples/compression-output.py
  examples/compression.py
  requirements.txt
  src/abaqus/XY/XYData.py
  tests/test_mdb.py
  tests/test_odb.py
Labels: patch, backport-to-all

#45 Update release drafter on the next version
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
Labels: patch

#46 Update version template
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
Labels: patch

#47 Fix type hints for tuple of floats
  src/abaqus/Annotation/AnimationUserData.py
  src/abaqus/Annotation/Arrow.py
  src/abaqus/Annotation/Text.py
  src/abaqus/Canvas/DrawingArea.py
  src/abaqus/Canvas/ImageOptions.py
  src/abaqus/Canvas/MovieOptions.py
  src/abaqus/Canvas/ViewportBase.py
  src/abaqus/Mesh/MeshFace.py
  src/abaqus/OdbDisplay/ViewCut.py
  src/abaqus/Part/PartBase.py
  src/abaqus/PathAndProbe/CurrentProbeValues.py
  src/abaqus/PathAndProbe/Path.py
  src/abaqus/Section/BeamSection.py
  src/abaqus/Section/SectionModel.py
  src/abaqus/Section/SectionOdb.py
  src/abaqus/Sketcher/ConstrainedSketch.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/AngularDimension.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/ConstrainedSketchDimensionModel.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/DistanceDimension.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/HorizontalDimension.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/ObliqueDimension.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/RadialDimension.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/VerticalDimension.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/Arc3Points.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ArcByCenterEnds.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ArcByStartEndTangent.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/CircleByCenterPerimeter.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ConstrainedSketchGeometryModel.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ConstructionCircleByCenterPerimeter.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ConstructionLine.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/EllipseByCenterPerimeter.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/FilletByRadius.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/Line.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/Spot.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/getPointAtDistance.py
  src/abaqus/Sketcher/ConstrainedSketchOptions/ConstrainedSketchImageOptions.py
  src/abaqus/Sketcher/ConstrainedSketchVertex/ConstrainedSketchVertex.py
  src/abaqus/Sketcher/ConstrainedSketchVertex/ConstrainedSketchVertexModel.py
  src/abaqus/Sketcher/ConstrainedSketchVertex/Spot.py
  src/abaqus/UtilityAndView/View.py
  src/abaqus/XY/Area.py
Labels: patch, backport-to-all

#50 Add backport label to backport pull requests
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
  .mergify.yml
Labels: patch, backport-to-all

#53 Update fileName docs of writeAcisFile
  src/abaqus/Part/AcisFile.py
  src/abaqus/Part/PartBase.py
  src/abaqus/Sketcher/ConstrainedSketch.py
Labels: patch

#54 Fix fileName docs of writeAcisFile
  src/abaqus/Assembly/AssemblyBase.py
Labels: backport-to-v2016

#57 Remove CellArray.getExteriorFaces and FaceArray.getExteriorEdges
  src/abaqus/BasicGeometry/CellArray.py
  src/abaqus/BasicGeometry/FaceArray.py
Labels: backport-to-v2016

#56 Remove getCADAttributes
  src/abaqus/BasicGeometry/Cell.py
  src/abaqus/BasicGeometry/Face.py
Labels: backport-to-v2016

#60 Remove autoDetectValue argument for XFEMCrack
  src/abaqus/EngineeringFeature/EngineeringFeature.py
  src/abaqus/EngineeringFeature/XFEMCrack.py
Labels: backport-to-v2016

#61 Remove stepFrame argument for writeFieldReport
  src/abaqus/FieldReport/FieldReportSession.py
  src/abaqus/FieldReport/writeFieldReport.py
Labels: backport-to-v2016

#62 Fix FieldReportSession methods' names
  src/abaqus/FieldReport/FieldReportSession.py
Labels: patch

#65 Remove preTenSecPartLevel attribute for BoltLoad
  src/abaqus/Load/BoltLoad.py
Labels: backport-to-v2016

#66 Add preTenSecPartLevel argument for BoltLoad
  src/abaqus/Load/BoltLoad.py
  src/abaqus/Load/LoadModel.py
Labels: patch

#68 Add multiscale mean field material
  docs/source/reference/mdb/model/material.rst
  src/abaqus/Material/Material.py
  src/abaqus/Material/MaterialBase.py
  src/abaqus/Material/Multiscale/MeanFieldHomogenization.py
  src/abaqus/Material/Multiscale/MeanFieldInclusion.py
  src/abaqus/Material/Multiscale/MeanFieldMatrix.py
  src/abaqus/Material/Multiscale/MeanFieldVoid.py
  src/abaqus/Material/Multiscale/__init__.py
Labels: patch

#69 Add getExteriorEdges and getExteriorFaces for MeshElementArray
  src/abaqus/Mesh/MeshElementArray.py
Labels: patch

#70 Add guiPreferredElements for MesherOptions
  src/abaqus/Mesh/MesherOptions.py
Labels: patch

#71 Update odb display options
  src/abaqus/OdbDisplay/ContourOptions.py
  src/abaqus/OdbDisplay/ViewCut.py
Labels: patch

#72 Add Field and FieldState
  src/abaqus/PredefinedField/Field.py
  src/abaqus/PredefinedField/FieldState.py
  src/abaqus/PredefinedField/PredefinedFieldModel.py
Labels: patch

#73 Add unsorted argument for Set.SetFromNodeLabels
  src/abaqus/Region/Set.py
Labels: patch

#74 Update docs of HomogeneousSolidSection.thickness
  src/abaqus/Section/HomogeneousSolidSection.py
  src/abaqus/Section/SectionModel.py
Labels: patch

#75 Update docs of HomogeneousSolidSection.thickness
  src/abaqus/Section/SectionOdb.py
Labels: backport-to-v2016

#77 Add depthTest argument for Drawing
  src/abaqus/Session/Drawing.py
Labels: patch

#79 Remove removeCallback for V2017 and V2016
  src/abaqus/UtilityAndView/Method.py
Labels: backport-to-v2016

#80 Add removeDuplicateXYPairs and includeAllElements for XYDataFromPath
  src/abaqus/XY/XYData.py
Labels: patch

#82 Backport QuantityType to V2017 and V2016
  src/abaqus/Odb/UserDataBase.py
  src/abaqus/XY/AxisData.py
  src/abaqus/XY/QuantityType.py
  src/abaqus/XY/XYPlot.py
  src/abaqus/XY/XYSession.py
Labels: backport-to-v2016

#84 Add improvedDtMethod argument for ExplicitDynamicsStep and TempDispla…
  src/abaqus/Step/ExplicitDynamicsStep.py
  src/abaqus/Step/StepModel.py
  src/abaqus/Step/TempDisplacementDynamicsStep.py
Labels: patch

#85 Update to v2018a6
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#86 Update to v2017a6
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#87 Update v2016a6
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#88 Update release drafters
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: patch

#92 Add FluidInflator Interaction
  src/abaqus/Interaction/FluidInflator.py
  src/abaqus/Interaction/FluidInflatorProperty.py
  src/abaqus/Interaction/FluidInflatorState.py
  src/abaqus/Interaction/InteractionModel.py
  src/abaqus/Interaction/InteractionPropertyModel.py
Labels: patch

#91 Add LeafFromConstraintNames
  src/abaqus/DisplayGroup/LeafFromConstraintNames.py
  src/displayGroupMdbToolset.py
Labels: patch

#90 Add ModelInstance.replace
  src/abaqus/Assembly/ModelInstance.py
Labels: patch

#95 Revert "Add ModelInstance.replace"
  src/abaqus/Assembly/ModelInstance.py
Labels: patch

#97 Add LeafFromConstraintNames
  src/abaqus/DisplayGroup/LeafFromConstraintNames.py
  src/displayGroupMdbToolset.py
Labels: patch

#98 Add FluidInflator Interaction
  src/abaqus/Interaction/FluidInflator.py
  src/abaqus/Interaction/FluidInflatorProperty.py
  src/abaqus/Interaction/FluidInflatorState.py
  src/abaqus/Interaction/InteractionModel.py
  src/abaqus/Interaction/InteractionPropertyModel.py
Labels: patch

#99 Add ModelInstance.replace
  src/abaqus/Assembly/ModelInstance.py
Labels: patch

#100 Remove Interaction Property Methods in Interaction Model
  src/abaqus/Interaction/InteractionContactStabilizationModel.py
  src/abaqus/Interaction/InteractionModel.py
Labels: patch, backport-to-v2016, backport-to-v2017, backport-to-v2018

#104 Remove handedness and normalAdjustment for V2016-V2018
  src/abaqus/Interaction/SurfaceToSurfaceContactStd.py
Labels: backport-to-v2016, backport-to-v2017

#107 Add handedness and normalAdjustment argument for SurfaceToSurfaceCont…
  src/abaqus/Interaction/InteractionModel.py
  src/abaqus/Interaction/SurfaceToSurfaceContactStd.py
Labels: patch

#108 Remove linearKinematicCtrl and initialGapOpening argument in ElemTye for V2016-V2018
  src/abaqus/Mesh/ElemType.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018

#112 Add numFourierModes and nodeOffset for ElemType
  src/abaqus/Mesh/ElemType.py
Labels: patch

#113 Rename OdbRigidBody to RigidBody, OdbLoadCase to LoadCase
  src/abaqus/Odb/OdbAssembly.py
  src/abaqus/Odb/OdbInstance.py
  src/abaqus/Odb/OdbStep.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018

#117 Remove OdbRigidBody in OdbInstance
  src/abaqus/Odb/OdbInstance.py
Labels: patch, backport-to-v2016, backport-to-v2017, backport-to-v2018

#121 Remove analyticSurface for RigidBody for V2016-V2018
  src/abaqus/Odb/OdbAssembly.py
  src/abaqus/Odb/OdbAssemblyBase.py
  src/abaqus/Odb/OdbInstanceBase.py
  src/abaqus/Odb/OdbPart.py
Labels: backport-to-v2016, backport-to-v2017, backport

#124 Add legendHideOutsideLimits for ContourOptions
  src/abaqus/OdbDisplay/ContourOptions.py
Labels: patch

#125 Remove abaqus sensitivities for V2016-V2018
  src/abaqus/Optimization/BeadTask.py
  src/abaqus/Optimization/OptimizationTaskModel.py
  src/abaqus/Optimization/ShapeTask.py
  src/abaqus/Optimization/SizingTask.py
  src/abaqus/Optimization/TopologyTask.py
Labels: patch, backport-to-v2016, backport-to-v2017

#126 Add abaqusSensitivities argument for optimization tasks
  src/abaqus/Optimization/BeadTask.py
  src/abaqus/Optimization/OptimizationTaskModel.py
  src/abaqus/Optimization/ShapeTask.py
  src/abaqus/Optimization/SizingTask.py
  src/abaqus/Optimization/TopologyTask.py
Labels: patch

#127 Add TopologyOverhangControl optimization task
  src/abaqus/Optimization/OptimizationTask.py
  src/abaqus/Optimization/TopologyOverhangControl.py
Labels: patch

#130 Add abaqusSensitivities for TopologyTask for V2016-V2018
  src/abaqus/Optimization/TopologyTask.py
Labels: backport-to-v2016, backport-to-v2017, backport

#133 Update docs for numericForm of BasicOptions
  src/abaqus/PlotOptions/BasicOptions.py
Labels: patch

#134 Update docs for numericForm of BasicOptions in V2016-V2018
  src/abaqus/PlotOptions/BasicOptions.py
Labels: backport-to-v2016, backport-to-v2017, backport

#135 Remove projectOntoMesh and projectionTolerance of XYDataFromPath in V…
  src/abaqus/XY/XYData.py
Labels: backport-to-v2016, backport-to-v2017, backport

#140 Update version to v2019a7
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#141 Update version to v2016a7
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#142 Update version to v2017a7
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#143 Update version to v2018a7
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#144 Update release drafters in V2019 branch
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: patch

#147 Add project urls in PyPI
  setup.py
Labels: patch, backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport

#153 Delete coordinates argument and update nodes argument for Assembly
  src/abaqus/Assembly/AssemblyBase.py
Labels: patch

#154 Add Viewport.animationController attribute
  src/abaqus/Canvas/ViewportBase.py
Labels: patch

#152 Remove ExpInitialization and PolarityAssignments for V2016-V2019
  src/abaqus/Interaction/ExpInitialization.py
  src/abaqus/Interaction/PolarityAssignments.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport

#155 Add ExpInitialization interaction and add polarityAssignments for ContactExp
  src/abaqus/Interaction/ContactExp.py
  src/abaqus/Interaction/InteractionContactControlModel.py
  src/abaqus/Interaction/InteractionModel.py
Labels: patch

#160 Remove Job.clearMessage for V2016-V2019
  src/abaqus/Job/Job.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport

#164 Remove TensileFailure for V2016-V2019
  src/abaqus/Material/Plastic/TensileFailure.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport

#168 Add TensileFailure for V2020
  docs/source/reference/mdb/model/material.rst
  src/abaqus/Material/Plastic/Plastic.py
Labels: patch

#169 Add Mdb.openSolidworks
  src/abaqus/Part/AcisFile.py
  src/abaqus/Part/AcisMdb.py
Labels: patch

#173 Add instances and isInternal for OdbSet
  src/abaqus/Odb/OdbSet.py
Labels: patch

#171 Add table collections
  src/abaqus/Model/ModelBase.py
  src/abaqus/Step/Step.py
Labels: patch

#172 Remove table collection (reopen #170)
  docs/source/reference/kernel/table_collection.rst
  src/abaqus/Step/StepBase.py
  src/abaqus/TableCollection/ActivateElements.py
  src/abaqus/TableCollection/DataTable.py
  src/abaqus/TableCollection/DataTableArray.py
  src/abaqus/TableCollection/ElementProgressiveActivation.py
  src/abaqus/TableCollection/EventSeries.py
  src/abaqus/TableCollection/EventSeriesData.py
  src/abaqus/TableCollection/EventSeriesType.py
  src/abaqus/TableCollection/ParameterColumn.py
  src/abaqus/TableCollection/ParameterColumnArray.py
  src/abaqus/TableCollection/ParameterTable.py
  src/abaqus/TableCollection/PropertyTable.py
  src/abaqus/TableCollection/PropertyTableData.py
  src/abaqus/TableCollection/TableCollection.py
  src/abaqus/TableCollection/TableCollectionAssembly.py
  src/abaqus/TableCollection/TableCollectionModel.py
  src/abaqus/TableCollection/TableCollectionStep.py
  src/abaqus/TableCollection/__init__.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport

#178 Update version to v2017a8
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#179 Update version to v2018a8
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#180 Update version to v2019a8
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#181 Update version to v2020a8
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#182 Update release drafters
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: patch

#184 Add intersectionOnly argument for SubmodelBC
  src/abaqus/BoundaryCondition/BoundaryConditionModel.py
  src/abaqus/BoundaryCondition/SubmodelBC.py
Labels: patch

#185 Only build html in readthedocs
  .readthedocs.yml
Labels: patch, backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020

#191 Update Interaction APIs
  src/abaqus/Interaction/ContactExp.py
  src/abaqus/Interaction/ContactPropertyAssignment.py
  src/abaqus/Interaction/ContactStd.py
  src/abaqus/Interaction/InteractionModel.py
  src/abaqus/Interaction/SlidingFormulationAssignment.py
  src/abaqus/Interaction/SurfaceBeamSmoothingAssignment.py
  src/abaqus/Interaction/SurfaceCrushTriggerAssignment.py
  src/abaqus/Interaction/SurfaceFeatureAssignment.py
  src/abaqus/Interaction/SurfaceFrictionAssignment.py
  src/abaqus/Interaction/SurfaceOffsetAssignment.py
  src/abaqus/Interaction/SurfaceThicknessAssignment.py
  src/abaqus/Interaction/SurfaceVertexCriteriaAssignment.py
Labels: patch

#192 Add Gap materials
  docs/source/reference/mdb/model/material.rst
  src/abaqus/Material/Gap/GapConductance.py
  src/abaqus/Material/Gap/GapConvection.py
  src/abaqus/Material/Gap/GapFlow.py
  src/abaqus/Material/Gap/GapRadiation.py
  src/abaqus/Material/Material.py
  src/abaqusConstants.py
Labels: patch

#195 Update docs of thicknessType and thicknessField for CompositePly
  src/abaqus/Property/CompositePly.py
Labels: patch

#194 Remove allowNonSymmetricMesh for ShapePlanarSymmetry and ShapeRotatio…
  src/abaqus/Optimization/ShapePlanarSymmetry.py
  src/abaqus/Optimization/ShapeRotationalSymmetry.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport

#196 Update version to v2021v9
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#203 Update version to v2016a9
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#202 Update version to v2017a9
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#201 Update version to v2018a9
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#204 Update version to v2019a9
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#205 Update version to v2020a9
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#206 Update release drafters
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: patch

#208 Correct typos in the tutorial page and sphinx extension
  docs/requirements.txt
  docs/source/conf.py
  docs/source/tutorials.rst
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020, backport-to-v2021

#215 Build pages in pull requests
  .github/workflows/pages.yaml
Labels: patch, backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020, backport-to-v2021, backport

#222 Update pages.yaml
  .github/workflows/pages.yaml
Labels: patch, backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020, backport-to-v2021, backport

#229 Update pages.yaml to only build pages but not push them to gh-pages
  .github/workflows/pages.yaml
Labels: patch, backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020, backport-to-v2021, backport

#236 Add v2022 features
  docs/source/reference/mdb/model/material.rst
  src/abaqus/Assembly/AssemblyBase.py
  src/abaqus/Connector/ConnectorDamping.py
  src/abaqus/Connector/ConnectorSection.py
  src/abaqus/Constraint/ConstraintModel.py
  src/abaqus/Constraint/Coupling.py
  src/abaqus/Datum/DatumCsys.py
  src/abaqus/Material/Material.py
  src/abaqus/Material/MaterialBase.py
  src/abaqus/Material/Plastic/CrushStress/CrushStress.py
  src/abaqus/Material/Plastic/CrushStress/CrushStressVelocityFactor.py
  src/abaqus/Material/Plastic/CrushStress/__init__.py
  src/abaqus/Material/Plastic/Plastic.py
  src/abaqus/Mesh/ElemType.py
  src/abaqus/Odb/OdbDatumCsys.py
  src/abaqus/Part/PartBase.py
  src/abaqus/Session/SessionBase.py
  src/abaqus/StepOutput/FieldOutputRequest.py
Labels: patch

#237 Backport to V2016-V2021
  docs/source/reference/mdb/model/optimization.rst
  src/abaqus/BoundaryCondition/SecondaryBaseBC.py
  src/abaqus/BoundaryCondition/SecondaryBaseBCState.py
  src/abaqus/Constraint/ConstraintModel.py
  src/abaqus/Constraint/Tie.py
  src/abaqus/EngineeringFeature/AssembledFastener.py
  src/abaqus/EngineeringFeature/EngineeringFeature.py
  src/abaqus/FieldReport/FieldReportOptions.py
  src/abaqus/Interaction/CohesiveBehavior.py
  src/abaqus/Interaction/ContactExp.py
  src/abaqus/Interaction/ContactProperty.py
  src/abaqus/Interaction/ContactStd.py
  src/abaqus/Interaction/CyclicSymmetry.py
  src/abaqus/Interaction/ExpContactControl.py
  src/abaqus/Interaction/ExpInitialization.py
  src/abaqus/Interaction/GapHeatGeneration.py
  src/abaqus/Interaction/InitializationAssignment.py
  src/abaqus/Interaction/InteractionContactControlModel.py
  src/abaqus/Interaction/InteractionModel.py
  src/abaqus/Interaction/MasterSlaveAssignment.py
  src/abaqus/Interaction/PolarityAssignments.py
  src/abaqus/Interaction/PressurePenetration.py
  src/abaqus/Interaction/Radiation.py
  src/abaqus/Interaction/SelfContactStd.py
  src/abaqus/Interaction/StdContactControl.py
  src/abaqus/Interaction/SurfaceFeatureAssignment.py
  src/abaqus/Interaction/SurfaceToSurfaceContactExp.py
  src/abaqus/Interaction/SurfaceToSurfaceContactStd.py
  src/abaqus/Job/Coexecution.py
  src/abaqus/Job/JobFromInputFile.py
  src/abaqus/Job/ModelJob.py
  src/abaqus/Mdb/MdbBase.py
  src/abaqus/Mesh/MeshEdgeArray.py
  src/abaqus/Mesh/MeshFaceArray.py
  src/abaqus/Optimization/BeadTask.py
  src/abaqus/Optimization/DesignDirection.py
  src/abaqus/Optimization/DrillControl.py
  src/abaqus/Optimization/OptimizationTask.py
  src/abaqus/Optimization/OptimizationTaskModel.py
  src/abaqus/Optimization/ShapeDemoldControl.py
  src/abaqus/Optimization/ShapeMemberSize.py
  src/abaqus/Optimization/ShapePlanarSymmetry.py
  src/abaqus/Optimization/ShapePointSymmetry.py
  src/abaqus/Optimization/ShapeRotationalSymmetry.py
  src/abaqus/Optimization/ShapeTask.py
  src/abaqus/Optimization/SizingTask.py
  src/abaqus/Optimization/StampControl.py
  src/abaqus/Optimization/TopologyMillingControl.py
  src/abaqus/Optimization/TopologyTask.py
  src/abaqus/Optimization/TurnControl.py
  src/abaqus/XY/XYData.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020, backport

#239 Update version to v2016a10
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#240 Update version to v2017a10
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#241 Update version to v2018a10
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#242 Update version to v2019a10
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#243 Update version to v2020a10
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#244 Update version to v2021a10
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#238 Update version to v2022a10
  README.md
  docs/source/conf.py
  meta.yaml
  setup.py
Labels: patch

#250 Update release drafters
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: patch

#251 Add doc for installing a specific version
  README.md
  docs/source/getting_started.rst
Labels: documentation, patch, backport-to-all

#260 Add return type annotations in the findAt method of object array classes and correct some code blocks
  src/abaqus/BasicGeometry/CellArray.py
  src/abaqus/BasicGeometry/EdgeArray.py
  src/abaqus/BasicGeometry/IgnoredEdgeArray.py
  src/abaqus/BasicGeometry/IgnoredVertexArray.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ConstrainedSketchGeometryArray.py
  src/abaqus/Sketcher/ConstrainedSketchVertex/ConstrainedSketchVertexArray.py
Labels: patch, backport-to-all

#259 Change Set and Surface's parent to Region to pass sets and surfaces to the region argument
  src/abaqus/Region/Set.py
  src/abaqus/Region/Surface.py
Labels: patch, backport-to-all, backport

#339 Add doc for Partition subpackage
  src/abaqus/Partition/__init__.py
Labels: patch, backport-to-all

#340 Implement Print Options
  src/abaqus/OptionsBase.py
  src/abaqus/Print/EpsOptions.py
  src/abaqus/Print/PageSetupOptions.py
  src/abaqus/Print/PngOptions.py
  src/abaqus/Print/PrintOptions.py
  src/abaqus/Print/PsOptions.py
  src/abaqus/Print/SvgOptions.py
Labels: patch, backport-to-all

#356 Implement Plot Options
  src/abaqus/OptionsBase.py
  src/abaqus/PlotOptions/BasicOptions.py
  src/abaqus/PlotOptions/CouplingConstraint.py
  src/abaqus/PlotOptions/DGCommonOptions.py
  src/abaqus/PlotOptions/DGContourOptions.py
  src/abaqus/PlotOptions/DGDisplayBodyOptions.py
  src/abaqus/PlotOptions/DGSuperimposeOptions.py
  src/abaqus/PlotOptions/DisplayOptions.py
  src/abaqus/PlotOptions/FreeBodyOptions.py
  src/abaqus/PlotOptions/MdbDataStep.py
  src/abaqus/PlotOptions/MpcConstraint.py
  src/abaqus/PlotOptions/OdbData.py
  src/abaqus/PlotOptions/OdbDataFrame.py
  src/abaqus/PlotOptions/OdbDataStep.py
  src/abaqus/PlotOptions/OptionArg.py
  src/abaqus/PlotOptions/PlyStackPlotOptions.py
  src/abaqus/PlotOptions/RigidBodyConstraint.py
  src/abaqus/PlotOptions/StreamOptions.py
  src/abaqus/PlotOptions/TieConstraint.py
  src/abaqus/PlotOptions/ViewCutOptions.py
  src/abaqus/Print/EpsOptions.py
  src/abaqus/Print/PageSetupOptions.py
  src/abaqus/Print/PngOptions.py
  src/abaqus/Print/PrintOptions.py
  src/abaqus/Print/PsOptions.py
  src/abaqus/Print/SvgOptions.py
  src/abaqus/_OptionsBase.py
Labels: patch, backport-to-all

#364 Implement Canvas Subpackage
  src/abaqus/Canvas/AttributeColorMap.py
  src/abaqus/Canvas/Canvas.py
  src/abaqus/Canvas/Displayable.py
  src/abaqus/Canvas/DrawingArea.py
  src/abaqus/Canvas/Highlight.py
  src/abaqus/Canvas/ImageOptions.py
  src/abaqus/Canvas/Layer.py
  src/abaqus/Canvas/MovieOptions.py
  src/abaqus/Canvas/Viewport.py
  src/abaqus/Canvas/ViewportBase.py
Labels: patch, backport-to-all

#372 Implement CAE display prederences
  src/abaqus/AbaqusCAEDisplayPreferences/CaeGuiPrefs.py
  src/abaqus/AbaqusCAEDisplayPreferences/CaeKerPrefs.py
  src/abaqus/AbaqusCAEDisplayPreferences/caePrefsAccess.py
Labels: patch, backport-to-all

#373 Implement Animation
  src/abaqus/Animation/AVIOptions.py
  src/abaqus/Animation/AnimationController.py
  src/abaqus/Animation/AnimationOptions.py
  src/abaqus/Animation/AnimationSession.py
  src/abaqus/Animation/ImageAnimation.py
  src/abaqus/Animation/ImageAnimationOptions.py
  src/abaqus/Animation/Movie.py
  src/abaqus/Animation/QuickTimeOptions.py
Labels: patch, backport-to-all

#381 Implement Annotation
  src/abaqus/Annotation/AnimationUserData.py
  src/abaqus/Annotation/Annotation.py
  src/abaqus/Annotation/AnnotationViewport.py
  src/abaqus/Annotation/AnnotationsToPlotArray.py
  src/abaqus/Annotation/Arrow.py
  src/abaqus/Annotation/Text.py
Labels: patch, backport-to-all

#396 Implement Registered Objects
  src/abaqus/CustomKernel/CommandRegister.py
  src/abaqus/CustomKernel/RegisteredDictionary.py
  src/abaqus/CustomKernel/RegisteredList.py
  src/abaqus/CustomKernel/RegisteredTuple.py
  src/abaqus/CustomKernel/RepositorySupport.py
Labels: patch, backport-to-all

#404 Use type alias for array objects
  docs/source/reference/mdb/model/amplitude.rst
  src/abaqus/Amplitude/CorrelationArray.py
  src/abaqus/Assembly/ConnectorOrientationArray.py
  src/abaqus/Assembly/PartInstanceArray.py
  src/abaqus/BasicGeometry/ModelDotArray.py
  src/abaqus/BasicGeometry/ReferencePointArray.py
  src/abaqus/BoundaryCondition/AccelerationBaseMotionBC.py
  src/abaqus/BoundaryCondition/BoundaryConditionModel.py
  src/abaqus/BoundaryCondition/DisplacementBaseMotionBC.py
  src/abaqus/BoundaryCondition/VelocityBaseMotionBC.py
  src/abaqus/Connector/CDCTermArray.py
  src/abaqus/Connector/ConnectorBehaviorOptionArray.py
  src/abaqus/Connector/ConnectorPotentialArray.py
  src/abaqus/DisplayGroup/DisplayGroupArray.py
  src/abaqus/DisplayOptions/LightArray.py
  src/abaqus/Field/DataTableArray.py
  src/abaqus/Job/MessageArray.py
  src/abaqus/Material/TestData/BiaxialTestDataArray.py
  src/abaqus/Material/TestData/PlanarTestDataArray.py
  src/abaqus/Material/TestData/UniaxialTestDataArray.py
  src/abaqus/Odb/BeamOrientationArray.py
  src/abaqus/Odb/FieldLocationArray.py
  src/abaqus/Odb/OdbFrameArray.py
  src/abaqus/Odb/OdbMeshElementArray.py
  src/abaqus/Odb/OdbMeshNodeArray.py
  src/abaqus/Odb/OdbPretensionSectionArray.py
  src/abaqus/Odb/OdbRigidBodyArray.py
  src/abaqus/Odb/RebarOrientationArray.py
  src/abaqus/Odb/SectionPointArray.py
  src/abaqus/Optimization/OptimizationObjectiveArray.py
  src/abaqus/Optimization/StepOptionArray.py
  src/abaqus/PlotOptions/MdbDataFrameArray.py
  src/abaqus/PlotOptions/OdbDataFrameArray.py
  src/abaqus/Property/CompositePlyArray.py
  src/abaqus/Property/MaterialOrientationArray.py
  src/abaqus/Property/SectionAssignmentArray.py
  src/abaqus/Region/RegionArray.py
  src/abaqus/Section/LayerPropertiesArray.py
  src/abaqus/Section/SectionLayerArray.py
  src/abaqus/StepMiscellaneous/CompositeDampingComponentArray.py
  src/abaqus/StepMiscellaneous/DirectDampingByFrequencyComponentArray.py
  src/abaqus/StepMiscellaneous/DirectDampingComponentArray.py
  src/abaqus/StepMiscellaneous/EmagTimeHarmonicFrequencyArray.py
  src/abaqus/StepMiscellaneous/MassScalingArray.py
  src/abaqus/StepMiscellaneous/RandomResponseFrequencyArray.py
  src/abaqus/StepMiscellaneous/RayleighDampingComponentArray.py
  src/abaqus/StepMiscellaneous/ResponseSpectrumComponentArray.py
  src/abaqus/StepMiscellaneous/SteadyStateDirectFrequencyArray.py
  src/abaqus/StepMiscellaneous/SteadyStateModalFrequencyArray.py
  src/abaqus/StepMiscellaneous/SteadyStateSubspaceFrequencyArray.py
  src/abaqus/StepMiscellaneous/StructuralDampingComponentArray.py
  src/abaqus/StepMiscellaneous/SubstructureGenerateFrequencyArray.py
  src/abaqus/StepMiscellaneous/SubstructureGenerateModesArray.py
  src/abaqus/XY/AxisArray.py
  src/abaqus/XY/XYCurveArray.py
Labels: patch, backport-to-all

#412 Use type alias for array objects, more for #404
  src/abaqus/BasicGeometry/CellArray.py
  src/abaqus/BasicGeometry/EdgeArray.py
  src/abaqus/BasicGeometry/FaceArray.py
  src/abaqus/BasicGeometry/IgnoredEdgeArray.py
  src/abaqus/BasicGeometry/IgnoredVertexArray.py
  src/abaqus/BasicGeometry/VertexArray.py
  src/abaqus/InputFileParser/AbaqusNDarray.py
  src/abaqus/Odb/FieldValueArray.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ConstrainedSketchGeometryArray.py
  src/abaqus/Sketcher/ConstrainedSketchVertex/ConstrainedSketchVertexArray.py
  src/abaqus/StepMiscellaneous/RayleighDampingByFrequencyComponentArray.py
  src/abaqus/StepMiscellaneous/StructuralDampingByFrequencyComponentArray.py
  src/abaqus/TableCollection/DataTableArray.py
  src/abaqus/TableCollection/ParameterColumnArray.py
Labels: patch, backport-to-all

#428 Suppress some warnings
  src/abaqus/BeamSectionProfile/BeamSectionProfileModel.py
  src/abaqus/BoundaryCondition/BoundaryConditionModel.py
  src/abaqus/BoundaryCondition/Calibration.py
  src/abaqus/Connector/ConnectorSection.py
  src/abaqus/Model/ModelBase.py
  src/abaqus/XY/XYData.py
Labels: patch, backport-to-all

#436 Update typos
  README.md
  docs/source/index.rst
Labels: patch, backport-to-all, typo

#444 Update release-drafter.yml
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
Labels: patch, backport-to-all

#452 Update release drafters
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
Labels: patch, backport-to-all

#460 Update version templates
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
Labels: patch, backport-to-all

#469 简体中文文档
  README-zh-cn.md
  README.md
Labels: documentation, backport-to-all

#477 Update README-zh-cn.md
  README-zh-cn.md
Labels: documentation, backport-to-all

#468 Update AbaqusBoolean and SymbolicConstants classes
  src/abaqus/UtilityAndView/AbaqusBoolean.py
  src/abaqus/UtilityAndView/SymbolicConstant.py
  src/symbolicConstants.py
Labels: backport-to-all, ready to merge

#485 Update AbaqusBoolean and SymbolicConstants classes
  src/abaqus/UtilityAndView/AbaqusBoolean.py
  src/abaqus/UtilityAndView/SymbolicConstant.py
  src/symbolicConstants.py
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020, backport-to-v2021, backport

#508 Update to v2022.1
  README-zh-cn.md
  README.md
  docs/source/conf.py
  docs/source/getting_started.rst
  meta.yaml
  setup.py
Labels: patch, version

#509 Update to v2022.1
  README-zh-cn.md
  README.md
  docs/source/conf.py
  docs/source/getting_started.rst
  meta.yaml
  setup.py
Labels: patch, version

#510 Update to v2021.1
  README-zh-cn.md
  README.md
  docs/source/conf.py
  docs/source/getting_started.rst
  meta.yaml
  setup.py
Labels: patch, version

#511 Update to v2020.1
  README-zh-cn.md
  README.md
  docs/source/conf.py
  docs/source/getting_started.rst
  meta.yaml
  setup.py
Labels: patch, version

#513 Update to v2018.1
  README-zh-cn.md
  README.md
  docs/source/conf.py
  docs/source/getting_started.rst
  meta.yaml
  setup.py
Labels: patch, version

#515 Update to v2016.1
  README-zh-cn.md
  README.md
  docs/source/conf.py
  docs/source/getting_started.rst
  meta.yaml
  setup.py
Labels: patch, version

#516 Support auto manage version
  README-zh-cn.md
  README.md
  docs/requirements.txt
  docs/source/conf.py
  requirements.txt
  setup.py
  src/abaqus/__init__.py
Labels: backport-to-all, version

#524 Use semantic versioning
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
Labels: backport-to-all, version

#532 Update release drafters
  .github/release-drafter-v2016.yml
  .github/release-drafter-v2017.yml
  .github/release-drafter-v2018.yml
  .github/release-drafter-v2019.yml
  .github/release-drafter-v2020.yml
  .github/release-drafter-v2021.yml
  .github/release-drafter-v2022.yml
  .github/release-drafter.yml
Labels: backport-to-all

#541 Fix bugs when _version does not exist
  src/abaqus/__init__.py
Labels: patch, backport-to-all
