Repository haiiliin/abqpy, pull requests merged in 2022-09, with the labels that each got.

#978 Add pytest badge
  README-zh-cn.md
  README.md
Labels: backport-to-all

#1001 Add ExpInitialization in InteractionContactInitializationModel and Fix wrong formats of code blocks
  src/abaqus/FieldReport/FieldReportSession.py
  src/abaqus/Interaction/InteractionContactInitializationModel.py
  src/abaqus/Odb/Odb.py
  src/abaqus/Odb/OdbSet.py
  src/abaqus/Odb/OdbStepBase.py
Labels: documentation, backport-to-all

#1002 Use GitPython for the active branch name when getting the source code links of objects
  docs/requirements.txt
  docs/source/conf.py
Labels: documentation, backport-to-all

#1018 Merge pytest and pages workflows
  .github/workflows/pages.yaml
  .github/workflows/tests.yaml
  README-zh-cn.md
  README.md
Labels: backport-to-all

#1026 Update interaction methods in docs
  docs/source/reference/mdb/model/interaction.rst
Labels: documentation, backport-to-all

#1034 Remove GitHub link in PyPI and rename tests workflow
  .github/workflows/tests.yaml
  setup.py
Labels: backport-to-all

#1042 Update docs for the status of boundary condition state classes
  src/abaqus/BoundaryCondition/AccelerationBCState.py
  src/abaqus/BoundaryCondition/AccelerationBaseMotionBCState.py
  src/abaqus/BoundaryCondition/AcousticPressureBCState.py
  src/abaqus/BoundaryCondition/ConcentrationBCState.py
  src/abaqus/BoundaryCondition/ConnAccelerationBCState.py
  src/abaqus/BoundaryCondition/ConnDisplacementBCState.py
  src/abaqus/BoundaryCondition/ConnVelocityBCState.py
  src/abaqus/BoundaryCondition/DisplacementBCState.py
  src/abaqus/BoundaryCondition/DisplacementBaseMotionBCState.py
  src/abaqus/BoundaryCondition/ElectricPotentialBCState.py
  src/abaqus/BoundaryCondition/EulerianBCState.py
  src/abaqus/BoundaryCondition/EulerianMotionBCState.py
  src/abaqus/BoundaryCondition/FluidCavityPressureBCState.py
  src/abaqus/BoundaryCondition/MaterialFlowBCState.py
  src/abaqus/BoundaryCondition/PorePressureBCState.py
  src/abaqus/BoundaryCondition/SecondaryBaseBCState.py
  src/abaqus/BoundaryCondition/SubmodelBCState.py
  src/abaqus/BoundaryCondition/TemperatureBCState.py
  src/abaqus/BoundaryCondition/TypeBCState.py
  src/abaqus/BoundaryCondition/VelocityBCState.py
  src/abaqus/BoundaryCondition/VelocityBaseMotionBCState.py
Labels: documentation, backport-to-all

#1051 Add LGTM badge and CodeQL workflow
  .github/workflows/codeql.yml
  README-zh-cn.md
  README.md
Labels: backport-to-all

#1060 Update version for docs
  docs/source/conf.py
Labels: documentation, backport-to-all

#1069 Remove extra sign of ≥
  src/abaqus/OdbDisplay/OdbDisplay.py
  src/abaqus/Print/PageSetupOptions.py
  src/abaqus/TextRepresentation/TextReprOptions.py
  src/abaqus/XY/XYData.py
  src/abaqus/XY/XYSession.py
Labels: backport-to-all

#1078 Use multiple platforms to build tests
  .github/workflows/tests.yaml
  setup.py
Labels: backport-to-all, test

#1086 Move several config files to other folders
  .github/mergify.yml
  .github/workflows/python-publish-conda.yml
  README-zh-cn.md
  README.md
  conda/build_env.yaml
  conda/meta.yaml
  crowdin.yml
  docs/source/index.rst
Labels: backport-to-all

#1068 Adding some modules and corrections
  requirements.txt
  src/abaqus/XY/XYData.py
  src/job.py
  src/load.py
  src/odbAccess.py
  src/optimization.py
  src/regionToolset.py
  src/sketch.py
  src/step.py
  src/xyPlot.py
Labels: backport-to-all

#1108 Use mergify to auto merge backport pull request
  .github/mergify.yml
Labels: backport-to-all

#1104 Use filePath instead of fileName when running Abaqus with script and change `tests`
  docs/source/getting_started.rst
  docs/source/tutorials.rst
  examples/compression-output-jupyter.ipynb
  examples/compression-output.py
  src/abaqus/__init__.py
  src/odbAccess.py
  tests/temp/.gitkeep
  tests/test_odb.py
Labels: backport-to-all

#1107 Auto update the suggested version when publishing the release
  .github/update-suggested-version.py
  .github/workflows/update-suggested-version.yml
Labels: backport-to-all

#1132 Fix bugs when getting __version__
  src/abaqus/__init__.py
Labels: bug, backport-to-all

#1140 Fix error in using * to match a specific version in the documentation
  docs/source/getting_started.rst
Labels: bug, documentation, backport-to-all

#1141 Move ipynbname to the optional requirements in the documentation
  docs/source/getting_started.rst
Labels: documentation, backport-to-all, packaging

#1142 Add dev suffix in development versions of the documentation
  docs/source/conf.py
Labels: documentation, backport-to-all

#1164 Remove release drafter workflows on push or pull requests and move it to the release action
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/translations.yaml
Labels: backport-to-all

#1180 Add option to publish the release or not
  .github/workflows/release.yml
Labels: minor, backport-to-all

#1191 Fail on warning when building pages
  .github/workflows/tests.yaml
Labels: backport-to-all

#1190 Correct type annotations and docstrings in `XYData` and `XYSession`
  src/abaqus/XY/XYData.py
  src/abaqus/XY/XYSession.py
Labels: backport-to-all, typing

#1207 Make `noGUI` keyword option the default execution mode and implement argument passing
  docs/source/getting_started.rst
  docs/source/tutorials.rst
  src/abaqus/__init__.py
Labels: backport-to-all

#1215 Use pytest_configure to insert the source code to sys.path before executing pytest
  tests/conftest.py
  tests/test_mdb.py
  tests/test_odb.py
Labels: backport-to-all, test

#1223 Use Python 3.11.0-rc.2 to Build Tests
  .github/workflows/tests.yaml
Labels: backport-to-all, Python 3.11, test

#1231 Delete `docs/build-sphinx.py` file
  docs/build-sphinx.py
Labels: backport-to-all

#1249 Fix bugs of decorators introduced in #1241
  src/abqpy/decorators.py
Labels: backport-to-all

#1257 Fix bugs in getting branch_name in docs
  docs/source/conf.py
  src/abqpy/decorators.py
Labels: documentation, backport-to-all

#1268 Use squash as default method for mergify automerge
  .github/mergify.yml
Labels: backport-to-v2016, backport-to-v2017, backport-to-v2018, backport-to-v2019, backport-to-v2020, backport-to-v2021

#1284 Override `mdb.save()` to submit the script
  src/abaqus/Odb/OdbCommands.py
  src/abaqus/__init__.py
  src/abqpy/abaqus.py
  src/odbAccess.py
Labels: enhancement

#1285 Remove `abqpy-translations` links
  README-zh-cn.md
  README.md
  docs/source/index.rst
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: backport-to-all

#1294 Fix bugs when getting the main file
  src/abqpy/abaqus.py
Labels: bug, backport-to-all

#1304 Add `rtd-preview` workflow
  .github/workflows/rtd-preview.yml
Labels: backport-to-all, rtd-preview

#1319 Use default backport pull request title
  .github/mergify.yml
Labels: backport-to-all

#1327 Update bot account details
  .github/workflows/release.yml
  .github/workflows/translations.yaml
Labels: backport-to-all

#1335 Add `update` input for `release` workflow
  .github/workflows/release.yml
Labels: backport-to-all, automation

#1343 Fix `inputs.update` error introduced in #1335
  .github/workflows/release.yml
Labels: bug, backport-to-all, automation

#1361 include `import visualization` module
  docs/source/tutorials.rst
  examples/compression-output-jupyter.ipynb
  examples/compression-output.py
  tests/test_odb.py
Labels: backport-to-all

#1370 Create pull requests when updating translations
  .github/mergify.yml
  .github/workflows/translations.yaml
  docs/source/conf.py
Labels: backport-to-all, automation

#1386 Add token when creating pull requests for translations
  .github/workflows/translations.yaml
Labels: backport-to-all, automation

#1394 Create pull requests when updating release version
  .github/mergify.yml
  .github/workflows/release.yml
Labels: backport-to-all

#1414 Update release version (2022/09/15)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2017

#1411 Update release version (2022/09/15)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2020

#1413 Update release version (2022/09/15)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2018

#1412 Update release version (2022/09/15)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, main

#1416 Update release version (2022/09/15)
  README.md
  docs/source/getting_started.rst
Labels: version, V2022

#1417 Update release version (2022/09/15)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2021

#1418 Update release version (2022/09/15)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2019

#1419 Add branch label for backport pull requests
  .github/mergify.yml
Labels: backport-to-all, automation

#1434 Update docs
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
  docs/source/index.rst
Labels: documentation, backport-to-all

#1435 Add the `abqpy` Command Line Application
  setup.py
  src/abqpy/__main__.py
Labels: backport-to-all

#1460 Add comments and simplify module
  src/abaqus/Odb/OdbCommands.py
  src/abaqus/Session/SessionBase.py
  src/odbAccess.py
Labels: backport-to-all

#1470 Update translations (2022/09/17)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/animation.pot
  docs/source/locales/pot/reference/session/display.pot
  docs/source/locales/pot/reference/session/path.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/mdb/job.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/animation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/path.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/mdb/job.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, main

#1484 Make `mergify` auto label rule be consistent
  .github/mergify.yml
Labels: backport-to-all, automation

#1492 Add Travis config file and remove LGTM badges
  .travis.yml
  README-zh-cn.md
  README.md
Labels: backport-to-all, automation

#1502 Add PyPy Support
  .github/workflows/tests.yaml
  setup.py
  src/abaqus/Interaction/ContactProperty.py
  src/abaqus/Interaction/FractureCriterion.py
  src/abaqus/Material/Elastic/HyperElastic/ViscoElastic/CombinedTestData.py
  src/abaqus/Material/Eos/Eos.py
  src/abaqus/Material/Material.py
  src/abaqus/Material/Plastic/Concrete/ConcreteCompressionHardening.py
  src/abaqus/Material/Plastic/DruckerPrager/Extended/TriaxialTestData.py
Labels: backport-to-all, packaging

#1510 Initial Implementation for Templates
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/templates.rst
  requirements.txt
  src/abqpy/__init__.py
  src/abqpy/template.py
  templates/compression.tmp
  templates/compression.toml
Labels: backport-to-all, template

#1518 Use `confval` to show template parameters
  docs/source/conf.py
  src/abqpy/template.py
Labels: backport-to-all, template

#1501 Do not run the abaqus command in debug mode
  docs/source/conf.py
  src/abaqus/Odb/OdbCommands.py
  src/abaqus/Session/SessionBase.py
  src/abaqus/__init__.py
  src/abqpy/__init__.py
  src/abqpy/abaqus.py
  src/caeModules.py
  src/odbAccess.py
  tests/conftest.py
  tests/test_odb.py
Labels: backport-to-all

#1534 Remove mergify rule for removing `conflicts` label
  .github/mergify.yml
Labels: backport-to-all, automation

#1533 Add viewport method to session
  docs/source/reference/session.rst
  src/abaqus/Canvas/CanvasSession.py
  src/abaqus/Canvas/ViewportBase.py
  src/abaqus/Session/Session.py
  src/abaqus/Session/SessionBase.py
  src/visualization.py
Labels: backport-to-all

#1557 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, V2022

#1556 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, V2018

#1555 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, main

#1554 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, V2019

#1553 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, V2021

#1552 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, V2020

#1551 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, V2016

#1550 Update translations (2022/09/18)
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
Labels: translation, V2017

#1558 Remove paths in pull_request trigger of tests
  .github/workflows/tests.yaml
Labels: backport-to-all, automation

#1567 Remove some static type check warnings
  src/abaqus/__init__.py
  src/abqpy/abaqus.py
  src/abqpy/python2funcs.py
Labels: backport-to-all, typing

#1583 Fix errors when not executed by a python file
  src/abqpy/abaqus.py
Labels: bug, backport-to-all

#1584 Improve Templates Implementations
  docs/source/templates.rst
  setup.py
  src/abqpy/template.py
  templates/compression.conf.toml
  templates/compression.tmpl
  templates/compression.toml
Labels: backport-to-all, template

#1599 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, V2019

#1600 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, V2021

#1601 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, V2022

#1602 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, V2020

#1603 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, V2016

#1604 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, main

#1605 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, V2018

#1606 Update translations (2022/09/19)
  docs/source/locales/pot/templates.pot
  docs/source/locales/zh_CN/LC_MESSAGES/templates.po
  src/abqpy/templates/compression.conf.toml
  src/abqpy/templates/compression.tmpl
  src/abqpy/templates/compression.toml
Labels: translation, V2017

#1575 Correct some type checkings
  setup.py
  src/abaqus/AbaqusCAEDisplayPreferences/CaeKerPrefs.py
  src/abaqus/AbaqusCAEDisplayPreferences/caePrefsAccess.py
  src/abaqus/UtilityAndView/AbaqusBoolean.py
  src/abaqus/UtilityAndView/SymbolicConstant.py
  src/abaqus/UtilityAndView/abaqusConstants.py
  src/abaqus/__init__.py
  templates/compression.conf.toml
  templates/compression.tmpl
  templates/compression.toml
Labels: backport-to-all, typing

#1614 Move conda config files to .github
  .github/build_env.yaml
  .github/meta.yaml
  .github/workflows/python-publish-conda.yml
Labels: backport-to-all

#1622 Update documentation
  docs/source/getting_started.rst
  docs/source/tutorials.rst
Labels: documentation, backport-to-all

#1623 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, V2021

#1624 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, V2016

#1625 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, V2020

#1626 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, V2017

#1627 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, V2019

#1628 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, main

#1629 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, V2018

#1630 Update translations (2022/09/20)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
Labels: translation, V2022

#1646 Resolve errors when deciding whether `abqpy` is imported by a file
  src/abqpy/abaqus.py
Labels: bug, backport-to-all

#1655 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, V2020

#1656 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, main

#1657 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, V2016

#1659 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, V2018

#1658 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, V2017

#1660 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, V2019

#1661 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, V2022

#1662 Update translations (2022/09/21)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/tutorials.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/tutorials.po
Labels: translation, V2021

#1671 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2021

#1670 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2020

#1672 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2018

#1673 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2017

#1674 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, main

#1675 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2022

#1676 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2019

#1677 Update release version (2022/09/22)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2016

#1692 Add version switcher dropdowns
  docs/source/_static/switcher.json
  docs/source/conf.py
Labels: documentation, backport-to-all, rtd-preview

#1700 Fix URL bugs in #1692
  docs/source/_static/switcher.json
Labels: documentation, backport-to-all

#1708 Remove extra badges in READMEs to keep it clean
  README-zh-cn.md
  README.md
Labels: documentation, backport-to-all

#1732 Update translations (2022/09/28)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/mdb/annotation.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/output.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/annotation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/output.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, V2020

#1733 Update translations (2022/09/28)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/mdb/annotation.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/output.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/annotation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/output.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, main

#1734 Update translations (2022/09/28)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/mdb/annotation.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/output.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/annotation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/output.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, V2022

#1735 Update translations (2022/09/28)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/mdb/annotation.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/output.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/annotation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/output.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, V2017

#1737 Update translations (2022/09/28)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/mdb/annotation.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/output.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/annotation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/output.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, V2019

#1738 Update translations (2022/09/28)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/mdb/annotation.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/output.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/annotation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/output.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, V2016

#1739 Update translations (2022/09/28)
  docs/source/locales/pot/reference/kernel/cae_display_preferences.pot
  docs/source/locales/pot/reference/mdb/annotation.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/output.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/pot/summary/session.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/cae_display_preferences.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/annotation.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/output.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
  docs/source/locales/zh_CN/LC_MESSAGES/summary/session.po
Labels: translation, V2021

#1740 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2017

#1741 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, main

#1742 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2022

#1743 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2021

#1744 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2016

#1745 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2019

#1746 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2018

#1747 Update release version (2022/09/28)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2020

#1771 Update translations (2022/09/30)
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/reference/mdb.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/datum.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/profile.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/datum.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/profile.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, main

#1770 Update translations (2022/09/30)
  docs/source/locales/pot/reference/kernel/utility.pot
  docs/source/locales/pot/reference/mdb.pot
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/datum.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/profile.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/utility.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/datum.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/profile.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, V2022

#1781 Import python 2 functions into `abaqus` module
  src/abaqus/__init__.py
Labels: backport-to-all
