Repository haiiliin/abqpy, pull requests merged in 2022-10, with the labels that each got.

#1797 And external links in documentation
  .github/workflows/rtd-preview.yml
  docs/source/_static/PyPI_logo.svg
  docs/source/_static/anaconda.svg
  docs/source/_static/rtd-logo-dark.svg
  docs/source/_static/rtd-logo-light.svg
  docs/source/conf.py
Labels: documentation, backport-to-all, rtd-preview

#1805 Use short version in docs
  docs/source/conf.py
Labels: documentation, backport-to-all

#1821 Add action to deploy GitHub Pages
  .github/workflows/pages.yml
Labels: backport-to-all

#1829 Update pages.yml
  .github/workflows/pages.yml
Labels: backport-to-all

#1837 Update tests workflow trigger conditions
  .github/workflows/codeql.yml
  .github/workflows/tests.yaml
Labels: backport-to-all, automation

#1838 Update documentation links
  README-zh-cn.md
  README.md
  setup.py
Labels: documentation, backport-to-all

#1853 Delete pages.yml
  .github/workflows/pages.yml
Labels: backport-to-all, automation

#1861 Update setup/install requirements
  .github/meta.yaml
  setup.py
Labels: backport-to-all

#1869 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2016

#1870 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2020

#1871 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2019

#1872 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2021

#1873 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, main

#1874 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2017

#1875 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2022

#1876 Update release version (2022/10/01)
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
Labels: version, V2018

#1877 Split tests
  .github/workflows/docs-test.yml
  .github/workflows/pytest.yml
  README-zh-cn.md
  README.md
Labels: backport-to-all, automation

#1885 Create release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: backport-to-all, automation

#1893 Remove duplicate documentation
  README-zh-cn.md
  README.md
  docs/source/getting_started.rst
  docs/source/index.rst
Labels: documentation, backport-to-all

#1909 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2016

#1910 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2017

#1911 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2022

#1912 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2021

#1913 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2019

#1914 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2018

#1915 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2020

#1916 Update translations (2022/10/02)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, main

#1917 Move `python2funcs` to `abaqus.__builtin__`
  setup.py
  src/ababltin.py
  src/abaqus/__builtin__.py
  src/abaqus/__init__.py
Labels: backport-to-all

#1925 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: backport-to-all

#1926 Update pull request types for release drafter
  .github/workflows/release-drafter.yml
Labels: backport-to-all, automation

#1927 Update pull_request_template.md
  .github/pull_request_template.md
Labels: backport-to-all, automation

#1937 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: backport-to-all

#1957 Add CONTRIBUTING guide
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
  .github/PULL_REQUEST_TEMPLATE/website.md
  CONTRIBUTING.md
Labels: backport-to-all

#1966 Update Pull Request Templates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
  .github/PULL_REQUEST_TEMPLATE/website.md
Labels: backport-to-all

#1981 Move CONTRIBUTING and CODE_OF_CONDUCT
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .travis.yml
Labels: backport-to-all

#1989 Update READMEs
  README-zh-cn.md
  README.md
Labels: backport-to-all

#1997 Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: backport-to-all

#2005 Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: backport-to-all

#2013 Create update-pages-release.yml
  .github/workflows/update-pages-release.yml
Labels: backport-to-all, automation

#2021 Update update-pages-release.yml
  .github/workflows/update-pages-release.yml
Labels: backport-to-all, automation

#2030 Update update-pages-release.yml
  .github/workflows/update-pages-release.yml
Labels: backport-to-all, automation

#2038 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, V2017

#2039 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, V2021

#2041 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, main

#2042 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, V2018

#2040 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, V2016

#2043 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, V2022

#2044 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, V2020

#2045 Update release version (2022/10/02)
  docs/source/getting_started.rst
Labels: version, V2019

#2054 Add docs workflow
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
  .github/workflows/docs.yml
Labels: backport-to-all, automation

#2062 Fix concurrency issues
  .github/workflows/docs.yml
  README-zh-cn.md
  README.md
  docs/source/index.rst
Labels: backport-to-all, automation

#2070 Fix concurrency issues
  .github/workflows/docs.yml
Labels: backport-to-all, automation

#2078 Use lowercase in docs version
  .github/workflows/docs.yml
Labels: backport-to-all, automation

#2086 Fix substring workflow issue
  .github/workflows/docs.yml
Labels: backport-to-all, automation

#2094 Upload docs to different branches
  .github/workflows/docs.yml
  README-zh-cn.md
  README.md
  docs/source/index.rst
Labels: backport-to-all, automation

#2103 Update docs workflow
  .github/mergify.yml
  .github/workflows/docs.yml
  docs/source/index.rst
Labels: backport-to-all, automation

#2130 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2017

#2131 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2016

#2132 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2019

#2133 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2020

#2134 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2021

#2135 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2018

#2136 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, V2022

#2137 Update translations (2022/10/04)
  docs/source/locales/pot/index.pot
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
Labels: translation, main

#2152 Update docs.yml
  .github/workflows/docs.yml
  .github/workflows/update-pages-release.yml
Labels: backport-to-all, automation

#2168 Fix wrong docs directory
  .github/workflows/docs.yml
Labels: backport-to-all, automation

#2176 Update version switcher
  docs/source/_static/switcher.json
  docs/source/conf.py
  setup.py
  src/abqpy/__init__.py
Labels: backport-to-all

#2185 Handle latest version
  docs/source/conf.py
Labels: backport-to-all

#2201 Not remove the conflicts label
  .github/mergify.yml
Labels: backport-to-all

#2213 Add support for documentation preview on labeled
  .github/mergify.yml
  .github/workflows/docs-previeww.yml
  .github/workflows/rtd-preview.yml
Labels: documentation, backport-to-all, docs-preview

#2210 Handle command line arguments
  src/abqpy/__main__.py
Labels: backport-to-all

#2242 Add search box in the sidebar
  .github/workflows/docs.yml
  docs/source/conf.py
Labels: documentation, backport-to-all, docs-preview

#2250 Update docs.yml
  .github/workflows/docs.yml
Labels: backport-to-all

#2258 Remove CodeQL workflow
  .github/workflows/codeql.yml
  README-zh-cn.md
  README.md
Labels: backport-to-all

#2282 Fix syntax error for 2016 and 2017
  .github/workflows/conda.yml
  .github/workflows/pypi.yml
Labels: backport-to-2016

#2292 Remove concurrency
  .github/workflows/docs-test-backport.yml
  .github/workflows/docs-test.yml
  .github/workflows/pytest-backport.yml
  .github/workflows/pytest.yml
Labels: backport-to-all, automation

#2300 Remove concurrency for docs-upload workflow
  .github/workflows/docs-upload.yml
Labels: backport-to-all, automation

#2308 Use short sha in branch name when uploading docs
  .github/workflows/docs-upload.yml
Labels: backport-to-all, automation

#2316 Simplify code to decide if it is in debug mode
  .github/workflows/docs-test-backport.yml
  .github/workflows/pytest-backport.yml
  .github/workflows/pytest.yml
  src/abqpy/abaqus.py
Labels: backport-to-all

#2324 Remove Read the Docs badges
  .github/workflows/docs-upload.yml
  README-zh-cn.md
  README.md
Labels: backport-to-all

#2333 Not build docs for the main branch
  .github/workflows/docs-upload.yml
  docs/source/conf.py
Labels: documentation, backport-to-all

#2348 Remove Ads in the sidebar
  docs/source/conf.py
Labels: documentation, backport-to-all

#2349 Combine docs sections
  .github/workflows/docs-test-backport.yml
  .github/workflows/docs-test.yml
  docs/source/api.rst
  docs/source/cli.rst
  docs/source/index.rst
  docs/source/references.rst
  docs/source/summary.rst
Labels: documentation, backport-to-all, docs-preview

#2365 Fix cli ref error
  docs/source/api.rst
Labels: bug, backport-to-all

#2366 Annotations of method `PartitionCellByPlanePointNormal`
  .github/workflows/docs-test-backport.yml
  .github/workflows/docs-test.yml
  src/abaqus/Feature/Feature.py
Labels: backport-to-all

#2396 Not build pytest on push
  .github/workflows/pytest.yml
Labels: backport-to-all

#2412 Fix CLI ident errors and update workflows
  .github/workflows/docs-test-backport.yml
  .github/workflows/docs-test.yml
  .github/workflows/docs-upload-dev.yml
  .github/workflows/docs-upload.yml
  .github/workflows/pytest-backport.yml
  .github/workflows/pytest.yml
  docs/source/cli.rst
Labels: documentation, backport-to-all

#2420 Update the author of the automated pull request
  .github/workflows/docs-upload.yml
  .github/workflows/release.yml
  .github/workflows/translations.yaml
Labels: backport-to-all, automation

#2428 Fix more indent errors
  docs/source/cli.rst
Labels: documentation, backport-to-all

#2436 Add concurrency for docs-upload
  .github/workflows/docs-upload.yml
Labels: backport-to-all, automation

#2451 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, main

#2450 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, 2021

#2449 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, 2016

#2446 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, 2022

#2445 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, 2017

#2444 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, 2019

#2448 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, 2020

#2447 Update translations (2022/10/07)
  docs/source/locales/pot/cli.pot
  docs/source/locales/zh_CN/LC_MESSAGES/cli.po
Labels: translation, 2018

#2454 Not use the branch name for GitHub actions
  .github/workflows/docs-test-backport.yml
  .github/workflows/docs-test.yml
  .github/workflows/pytest-backport.yml
Labels: backport-to-all, automation

#2470 Add README for locales
  .github/workflows/translations.yaml
  docs/source/locales/README.md
  docs/source/locales/update.sh
Labels: documentation, backport-to-all, translation

#2478 Fix typo in the README of locales
  docs/source/locales/README.md
Labels: documentation, backport-to-all, typo

#2486 Update translations (2022/10/07)
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2020

#2487 Update translations (2022/10/07)
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2018

#2488 Update translations (2022/10/07)
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2016

#2489 Update translations (2022/10/07)
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2019

#2490 Update translations (2022/10/07)
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, main

#2494 Update translations (2022/10/07)
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2022

#2491 Add README for the docs
  docs/README.md
Labels: documentation, backport-to-all

#2453 Modify check if is running by file
  src/abqpy/abaqus.py
Labels: backport-to-all

#2452 Correct type hints in `CellArray` `EdgeArray` modules
  src/abaqus/BasicGeometry/CellArray.py
  src/abaqus/BasicGeometry/EdgeArray.py
  src/abaqus/Section/SectionModel.py
Labels: backport-to-all, typing

#2517 Only upload docs of the dev version on push
  .github/workflows/docs-upload.yml
  src/abqpy/abaqus.py
Labels: documentation, backport-to-all

#2525 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, 2016

#2526 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, 2019

#2527 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, 2020

#2528 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, main

#2529 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, 2021

#2530 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, 2018

#2531 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, 2022

#2532 Update release version (2022/10/07)
  docs/source/getting_started.rst
Labels: version, 2017

#2535 Update translations (2022/10/08)
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2017

#2536 Update translations (2022/10/08)
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2021

#2539 Update translations (2022/10/08)
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, main

#2540 Update translations (2022/10/08)
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2019

#2541 Update translations (2022/10/08)
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2022

#2542 Update translations (2022/10/08)
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
Labels: translation, 2020

#2543 Update preview docs implementation
  .github/mergify.yml
  .github/workflows/docs-test-backport.yml
  .github/workflows/docs-test.yml
  .github/workflows/docs-upload.yml
  .github/workflows/pytest-backport.yml
  .github/workflows/pytest.yml
Labels: documentation, backport-to-all, docs-preview

#2533 Correct overloads for `findAt` again
  src/abaqus/BasicGeometry/CellArray.py
  src/abaqus/BasicGeometry/EdgeArray.py
  src/abaqus/Region/RegionPart.py
Labels: backport-to-all

#2534 Accepts single cell
  src/abaqus/Feature/Feature.py
Labels: backport-to-all

#2574 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2017

#2575 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2021

#2576 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2016

#2577 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2020

#2578 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2019

#2579 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, main

#2580 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2018

#2581 Update translations (2022/10/09)
  docs/source/locales/pot/reference/mdb/model.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/calibration.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/geometry.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/calibration.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/geometry.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2022

#2582 Update translations once a week
  .github/workflows/translations.yaml
Labels: backport-to-all, automation

#2590 Fix a typo in the README of locales
  docs/source/locales/README.md
Labels: backport-to-all, typo

#2598 Fetch all history when build documentation
  .github/workflows/docs-test.yml
  .github/workflows/docs-upload.yml
Labels: backport-to-all

#2607 Continue to improve type hints
  src/abaqus/BasicGeometry/FaceArray.py
  src/abaqus/Feature/Feature.py
Labels: backport-to-all, typing

#2608 Alternative abaqus execution option
  .gitignore
  src/abqpy/__main__.py
  src/abqpy/abaqus.py
Labels: backport-to-all

#2624 Add support for disable backport auto merge
  .github/mergify.yml
Labels: backport-to-all, automation, disable-auto-merge

#2632 Support disable backport auto merge for specific versions
  .github/mergify.yml
Labels: backport-to-all, automation, disable-auto-merge-2017

#2640 Add special members of classes in the documentation
  docs/source/reference/kernel/cae_display_preferences.rst
  docs/source/reference/kernel/input.rst
  docs/source/reference/kernel/kernel.rst
  docs/source/reference/kernel/messaging.rst
  docs/source/reference/kernel/table_collection.rst
  docs/source/reference/kernel/text_representation.rst
  docs/source/reference/kernel/utility.rst
  docs/source/reference/mdb.rst
  docs/source/reference/mdb/annotation.rst
  docs/source/reference/mdb/edit_mesh.rst
  docs/source/reference/mdb/job.rst
  docs/source/reference/mdb/model.rst
  docs/source/reference/mdb/model/adaptivity.rst
  docs/source/reference/mdb/model/amplitude.rst
  docs/source/reference/mdb/model/assembly.rst
  docs/source/reference/mdb/model/bc.rst
  docs/source/reference/mdb/model/calibration.rst
  docs/source/reference/mdb/model/constraint.rst
  docs/source/reference/mdb/model/field.rst
  docs/source/reference/mdb/model/filter.rst
  docs/source/reference/mdb/model/interaction.rst
  docs/source/reference/mdb/model/load.rst
  docs/source/reference/mdb/model/material.rst
  docs/source/reference/mdb/model/mesh.rst
  docs/source/reference/mdb/model/optimization.rst
  docs/source/reference/mdb/model/output.rst
  docs/source/reference/mdb/model/part.rst
  docs/source/reference/mdb/model/part_assembly/datum.rst
  docs/source/reference/mdb/model/part_assembly/engineering.rst
  docs/source/reference/mdb/model/part_assembly/feature.rst
  docs/source/reference/mdb/model/part_assembly/geometry.rst
  docs/source/reference/mdb/model/part_assembly/region.rst
  docs/source/reference/mdb/model/predefined.rst
  docs/source/reference/mdb/model/profile.rst
  docs/source/reference/mdb/model/property.rst
  docs/source/reference/mdb/model/section.rst
  docs/source/reference/mdb/model/section/connector.rst
  docs/source/reference/mdb/model/sketcher.rst
  docs/source/reference/mdb/model/step.rst
  docs/source/reference/mdb/model/step/step_miscellaneous.rst
  docs/source/reference/odb.rst
  docs/source/reference/session.rst
  docs/source/reference/session/animation.rst
  docs/source/reference/session/canvas.rst
  docs/source/reference/session/display.rst
  docs/source/reference/session/display_options.rst
  docs/source/reference/session/field_report.rst
  docs/source/reference/session/odb_display.rst
  docs/source/reference/session/path.rst
  docs/source/reference/session/plot_options.rst
  docs/source/reference/session/print.rst
  docs/source/reference/session/xy.rst
  docs/source/summary/mdb/model/part.rst
  docs/source/templates.rst
Labels: documentation, backport-to-all, docs-preview

#2623 Continue to improve type hints
  src/abaqus/Interaction/ContactProperty.py
  src/abaqus/Interaction/FractureCriterion.py
  src/abaqus/Mesh/MeshNode.py
  src/abaqus/Optimization/OptimizationTaskModel.py
  src/abaqus/Optimization/ShapeTask.py
  src/abaqus/Optimization/TopologyTask.py
  src/abaqus/Part/AcisFile.py
  src/abaqus/Part/AcisMdb.py
  src/abaqus/Part/PartBase.py
  src/abaqus/PlotOptions/ViewCutOptions.py
  src/abaqus/PredefinedField/Field.py
  src/abaqus/PredefinedField/PorePressure.py
  src/abaqus/PredefinedField/PredefinedFieldModel.py
  src/abaqus/PredefinedField/Saturation.py
  src/abaqus/PredefinedField/Stress.py
  src/abaqus/PredefinedField/Temperature.py
  src/abaqus/PredefinedField/VoidsRatio.py
Labels: backport-to-all, typing

#2648 Update documentation
  docs/source/api.rst
  docs/source/cli.rst
  docs/source/envvars.rst
Labels: documentation, backport-to-all, docs-preview

#2663 Add `mdb` and constants to `part` module
  src/part.py
Labels: backport-to-all

#2678 Update release version (2022/10/11)
  docs/source/getting_started.rst
Labels: version, 2022

#2679 Update release version (2022/10/11)
  docs/source/getting_started.rst
Labels: version, 2020

#2681 Update release version (2022/10/11)
  docs/source/getting_started.rst
Labels: version, 2016
