Repository haiiliin/abqpy, pull requests merged in 2022-11, with the labels that each got.

#3532 [automation]: Use codecov to analyze the code coverage
  .github/workflows/pytest.yml
  README-zh-cn.md
  README.md
  coverage.svg
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, disable-auto-merge, workflow

#3540 [automation]: Override branch for codecov
  .github/workflows/pytest.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, workflow

#3556 [typing] Fixing doc string and type hint
  src/abaqus/Mesh/MeshPart.py
  src/abaqus/UtilityAndView/View.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, typing, new feature

#3566 [automation]: Add codecov config file
  .github/codecov.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, workflow

#3565 [typo]: Fixing docstrings
  src/abaqus/Assembly/PartInstance.py
  src/abaqus/Connector/ConnectorBehaviorOption.py
  src/abaqus/Connector/TangentialBehavior.py
  src/abaqus/Constraint/ConstraintModel.py
  src/abaqus/Constraint/EmbeddedRegion.py
  src/abaqus/DisplayOptions/GraphicsOptions.py
  src/abaqus/EditMesh/MeshEditAssembly.py
  src/abaqus/EditMesh/MeshEditPart.py
  src/abaqus/FieldReport/FreeBodyReportOptions.py
  src/abaqus/Interaction/IncidentWaveProperty.py
  src/abaqus/Interaction/InteractionContactControlModel.py
  src/abaqus/Interaction/InteractionPropertyModel.py
  src/abaqus/Interaction/PressurePenetrationState.py
  src/abaqus/Interaction/StdContactControl.py
  src/abaqus/Material/Elastic/LowDensityFoam/LowDensityFoam.py
  src/abaqus/Material/Gasket/GasketThicknessBehavior.py
  src/abaqus/Material/Material.py
  src/abaqus/Mesh/MeshAssembly.py
  src/abaqus/Mesh/MeshPart.py
  src/abaqus/Optimization/OptimizationTaskModel.py
  src/abaqus/Optimization/ShapeTask.py
  src/abaqus/Optimization/SizingTask.py
  src/abaqus/Optimization/TopologyTask.py
  src/abaqus/Part/PartBase.py
  src/abaqus/Part/PartFeature.py
  src/abaqus/PlotOptions/FreeBodyOptions.py
  src/abaqus/Section/GasketSection.py
  src/abaqus/Section/SectionModel.py
  src/abaqus/Section/SectionOdb.py
  src/abaqus/Sketcher/ConstrainedSketchOptions/ConstrainedSketchOptions.py
  src/abaqus/Sketcher/ConstrainedSketchOptions/ConstrainedSketcherOptions.py
  src/abaqus/Step/CoupledTempDisplacementStep.py
  src/abaqus/Step/CoupledThermalElectricalStructuralStep.py
  src/abaqus/Step/SoilsStep.py
  src/abaqus/Step/StaticStep.py
  src/abaqus/Step/StepModel.py
  src/abaqus/Step/ViscoStep.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, typo

#3588 [translation]: Update translations (2022/11/06)
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/constraint.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/mdb/model/step.pot
  docs/source/locales/pot/reference/session/display_options.pot
  docs/source/locales/pot/reference/session/field_report.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/constraint.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/step.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/field_report.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2016

#3587 [translation]: Update translations (2022/11/06)
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/constraint.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/mdb/model/step.pot
  docs/source/locales/pot/reference/session/display_options.pot
  docs/source/locales/pot/reference/session/field_report.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/constraint.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/step.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/field_report.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2021

#3586 [translation]: Update translations (2022/11/06)
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/constraint.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/mdb/model/step.pot
  docs/source/locales/pot/reference/session/display_options.pot
  docs/source/locales/pot/reference/session/field_report.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/constraint.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/step.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/field_report.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2020

#3585 [translation]: Update translations (2022/11/06)
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/constraint.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/mdb/model/step.pot
  docs/source/locales/pot/reference/session/display_options.pot
  docs/source/locales/pot/reference/session/field_report.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/constraint.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/step.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/field_report.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2017

#3584 [translation]: Update translations (2022/11/06)
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/constraint.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/mdb/model/step.pot
  docs/source/locales/pot/reference/session/display_options.pot
  docs/source/locales/pot/reference/session/field_report.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/constraint.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/step.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/field_report.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2022

#3582 [translation]: Update translations (2022/11/06)
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/constraint.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/mdb/model/step.pot
  docs/source/locales/pot/reference/session/display_options.pot
  docs/source/locales/pot/reference/session/field_report.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/constraint.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/step.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/field_report.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2018

#3581 [translation]: Update translations (2022/11/06)
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/constraint.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/section.pot
  docs/source/locales/pot/reference/mdb/model/section/connector.pot
  docs/source/locales/pot/reference/mdb/model/sketcher.pot
  docs/source/locales/pot/reference/mdb/model/step.pot
  docs/source/locales/pot/reference/session/display_options.pot
  docs/source/locales/pot/reference/session/field_report.pot
  docs/source/locales/pot/reference/session/plot_options.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/constraint.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/section/connector.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/sketcher.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/step.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display_options.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/field_report.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/plot_options.po
Labels: translation, 2019

#3590 [automation]: Remove labeler usage
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, workflow

#3589 [docs]: Auto update version in getting started
  .github/workflows/release.yml
  docs/source/_ext/autopkg.py
  docs/source/conf.py
  docs/source/getting_started.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#3613 [automation]: Not upload codecov on backport pull requests
  .github/workflows/pytest.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, workflow

#3631 [automation] Remove `conda` package because `auto-all` is not distributed in `conda`
  .github/build_env.yaml
  .github/meta.yaml
  .github/workflows/conda.yml
  README-zh-cn.md
  README.md
  docs/source/_ext/autopkg.py
  docs/source/_static/anaconda.svg
  docs/source/conf.py
  docs/source/getting_started.md
  docs/source/index.md
  pyproject.toml
Labels: bug, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, release, automation

#3639 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2020

#3640 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2022

#3641 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2016

#3642 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2018

#3643 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2017

#3644 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2021

#3646 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2019

#3645 [translation]: Update translations (2022/11/20)
  docs/source/locales/pot/getting_started.pot
  docs/source/locales/pot/index.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/zh_CN/LC_MESSAGES/getting_started.po
  docs/source/locales/zh_CN/LC_MESSAGES/index.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
Labels: translation, 2023

#3648 [bugfix]: Fix CODE Literal
  src/abaqus/UtilityAndView/abaqusConstants.py
Labels: bug, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#3649 [bugfix]: Use typing_extensions.Literal to Support Python 3.7
  src/abaqus/Material/evaluateMaterial.py
Labels: bug, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#3666 [translation]: Update translations (2022/11/27)
  docs/source/locales/pot/reference/kernel/table_collection.pot
  docs/source/locales/pot/reference/mdb.pot
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/job.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/engineering.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/table_collection.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/job.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/assembly.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/engineering.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
Labels: translation, 2023

#3667 [automation]: Update `gh-action-pypi-publish` action version
  .github/workflows/pypi.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, workflow

#3675 [automation]: Upload release assets
  .github/workflows/release-drafter.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, release, automation, workflow

#3683 [automation]: Fix error of overwriting release assets
  .github/workflows/pypi.yml
  .github/workflows/release-drafter.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, release, automation, workflow

#3691 [automation]: Use github cli to upload release assets
  .github/workflows/pypi.yml
  .github/workflows/release-drafter.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, release, automation, workflow
