Repository haiiliin/abqpy, pull requests merged in 2023-01, with the labels that each got.

#3789 Use `os.path.relpath` instead of `os.path.abspath` on execution
  src/abaqus/Model/KeywordBlock.py
  src/abqpy/abaqus.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, new feature

#3805 [automation]: Use custom commit message for mergify
  .github/mergify.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation

#3813 [automation]: Revert "[automation]: Use custom commit message for mergify"
  .github/mergify.yml
Labels: backport-to-all, automation

#3821 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2016

#3822 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2021

#3823 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2022

#3824 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2020

#3825 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2017

#3826 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2018

#3828 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2019

#3827 [translation]: Update translations (2023/01/08)
  docs/source/locales/pot/reference/kernel/text_representation.pot
  docs/source/locales/pot/reference/mdb/model/assembly.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/templates.pot
Labels: translation, 2023

#3830 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2016

#3832 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2017

#3833 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/display.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2019

#3834 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/kernel/table_collection.pot
  docs/source/locales/pot/reference/mdb.pot
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/display.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/table_collection.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2020

#3835 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2018

#3836 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/kernel/table_collection.pot
  docs/source/locales/pot/reference/mdb.pot
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/display.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/table_collection.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2021

#3837 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/kernel/table_collection.pot
  docs/source/locales/pot/reference/mdb.pot
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/display.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/table_collection.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2022

#3831 [translation]: Update translations (2023/01/22)
  docs/source/locales/pot/reference/kernel/table_collection.pot
  docs/source/locales/pot/reference/mdb.pot
  docs/source/locales/pot/reference/mdb/edit_mesh.pot
  docs/source/locales/pot/reference/mdb/model/interaction.pot
  docs/source/locales/pot/reference/mdb/model/material.pot
  docs/source/locales/pot/reference/mdb/model/mesh.pot
  docs/source/locales/pot/reference/mdb/model/optimization.pot
  docs/source/locales/pot/reference/mdb/model/part.pot
  docs/source/locales/pot/reference/mdb/model/part_assembly/region.pot
  docs/source/locales/pot/reference/mdb/model/predefined.pot
  docs/source/locales/pot/reference/mdb/model/property.pot
  docs/source/locales/pot/reference/odb.pot
  docs/source/locales/pot/reference/session.pot
  docs/source/locales/pot/reference/session/canvas.pot
  docs/source/locales/pot/reference/session/display.pot
  docs/source/locales/pot/reference/session/xy.pot
  docs/source/locales/zh_CN/LC_MESSAGES/reference/kernel/table_collection.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/edit_mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/interaction.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/material.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/mesh.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/optimization.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/part_assembly/region.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/predefined.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/mdb/model/property.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/odb.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/canvas.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/display.po
  docs/source/locales/zh_CN/LC_MESSAGES/reference/session/xy.po
Labels: translation, 2023
