Repository haiiliin/abqpy, pull requests merged in 2023-09, with the labels that each got.

#4980 [bugfix] Re-Include math functions in abaqus and odbAccess
  src/abaqus/__init__.py
  src/odbAccess.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4988 [automation] Do not collapse features and bug fixes in changlog
  .github/release-drafter-2016.yml
  .github/release-drafter-2017.yml
  .github/release-drafter-2018.yml
  .github/release-drafter-2019.yml
  .github/release-drafter-2020.yml
  .github/release-drafter-2021.yml
  .github/release-drafter-2022.yml
  .github/release-drafter-2023.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation

#4996 [automation] Update release-drafter and keylabeler configs
  .github/keylabeler.yml
  .github/release-drafter-2016.yml
  .github/release-drafter-2017.yml
  .github/release-drafter-2018.yml
  .github/release-drafter-2019.yml
  .github/release-drafter-2020.yml
  .github/release-drafter-2021.yml
  .github/release-drafter-2022.yml
  .github/release-drafter-2023.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation

#4978 [automation] Upload docs in queue
  .github/workflows/docs.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, disable-auto-merge

#5011 [automation] Update docs and tests workflows
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation

#5028 [docs] Use sphinx-immaterial theme for documentation
  .github/workflows/docs.yml
  README-zh-cn.md
  README.md
  docs/Makefile
  docs/source/conf.py
  docs/source/index.md
  pyproject.toml
  src/abaqus/Mdb/MdbBase.py
  wrapper/pyproject.toml
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5036 [docs] Upload links for other docs versions
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5044 [docs] Turn on navigation.tabs for material theme
  docs/source/conf.py
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5052 [docs] Navigation tabs not sticky
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5060 [docs] Update docs palette
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5068 [docs] Update installation methods
  README-zh-cn.md
  README.md
  docs/source/conf.py
  docs/source/getting_started.md
  pyproject.toml
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, disable-auto-merge

#5076 [docs][skip ci] Fix edit_url
  docs/source/conf.py
Labels: docs, backport-to-all

#5084 [workflow][skip ci] Increase docs workflow queue timeout
  .github/workflows/docs.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#5092 [docs] Add hero metadata for the index page
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5100 [docs] Add language selector
  .github/workflows/docs.yml
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5108 [workflow] Build Simplify Chinese docs
  .github/workflows/docs.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#5116 [workflow] Fix docs workflow in #5108
  .github/workflows/docs.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#5132 [skip ci][automation] Increase docs workflow queue delay
  .github/workflows/docs.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation

#5143 [workflow][skip ci] Queue the translation workflows
  .github/workflows/translations.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#5171 [docs] Only show class's docstrings in APIs
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5179 [docs] Show gif images in getting started docs
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5187 [docs] Use default color theme for docs
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5195 [workflow] Update github actions/pre-commit hooks workflow versions
  .github/workflows/translations.yml
  .pre-commit-config.yaml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#5203 [docs]: remove old source from docs
  docs/source/getting_started.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5211 [docs] Fix examples header
  docs/source/conf.py
  examples/Abaqus/README.rst
  examples/Abaqus/cantilever.py
  examples/Abaqus/skewExample.py
  examples/Abaqus/viewerOpenOdbAndContour.py
  examples/Abaqus/viewerPrintContours.py
  examples/Compression/README.rst
  examples/Compression/compression-output.py
  examples/Compression/compression.py
  examples/Parameter-Identification/README.rst
  examples/Parameter-Identification/compression.py
  examples/Parameter-Identification/optimize.py
  examples/README.rst
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5219 [docs] Blacken Python code blocks in markdown files
  .pre-commit-config.yaml
  docs/source/envvars.md
  docs/source/getting_started.md
  docs/source/user/about/examples/create-part.md
  docs/source/user/about/examples/read-output.md
  docs/source/user/about/examples/summary.md
  docs/source/user/environment/use-pde.md
  docs/source/user/examples/cantilever.md
  docs/source/user/examples/plot.md
  docs/source/user/examples/sensitivity.md
  docs/source/user/examples/settings.md
  docs/source/user/output/cpp/compile-link.md
  docs/source/user/output/python/computations.md
  docs/source/user/output/python/examples.md
  docs/source/user/output/python/exceptions.md
  docs/source/user/output/python/execute-script.md
  docs/source/user/output/python/improve-efficiency.md
  docs/source/user/output/python/object-model.md
  docs/source/user/output/python/output-object-model.md
  docs/source/user/output/python/read.md
  docs/source/user/output/python/write.md
  docs/source/user/python/introduction/programming.md
  docs/source/user/python/introduction/python-basics.md
  docs/source/user/python/python-abaqus/errors.md
  docs/source/user/python/python-abaqus/executing.md
  docs/source/user/python/python-abaqus/extending.md
  docs/source/user/python/python-abaqus/oop.md
  docs/source/user/python/python-abaqus/style.md
  docs/source/user/python/python-abaqus/types.md
  docs/source/user/python/use-scripts/environment-file.md
  docs/source/user/python/use-scripts/interact.md
  docs/source/user/python/use-scripts/modify-objects.md
  docs/source/user/python/use-scripts/namespace.md
  docs/source/user/python/use-scripts/object-model.md
  docs/source/user/python/use-scripts/sequences.md
  docs/source/user/python/use-scripts/specify-region.md
  docs/source/user/python/use-scripts/specify-viewport.md
  docs/source/user/python/use-scripts/user-input.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5227 [docs] Format User guide's Python/C++ code blocks
  .clang-format
  .pre-commit-config.yaml
  docs/source/user/examples/settings.md
  docs/source/user/output/cpp/access.md
  docs/source/user/output/cpp/architecture.md
  docs/source/user/output/cpp/compile-link.md
  docs/source/user/output/cpp/computations.md
  docs/source/user/output/cpp/examples.md
  docs/source/user/output/cpp/exceptions.md
  docs/source/user/output/cpp/improve-efficiency.md
  docs/source/user/output/cpp/object-model.md
  docs/source/user/output/cpp/read.md
  docs/source/user/output/cpp/style.md
  docs/source/user/output/cpp/utility.md
  docs/source/user/output/cpp/write.md
  docs/source/user/output/python/read.md
  docs/source/user/python/introduction/programming.md
  docs/source/user/python/introduction/python-basics.md
  docs/source/user/python/python-abaqus/types.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5235 [docs] Fix docs formats in C++ output scripting guide
  docs/source/user/output/cpp/access.md
  docs/source/user/output/cpp/computations.md
  docs/source/user/output/cpp/utility.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#5243 [feature] Submit the script to Abaqus PDE in debug mode
  .gitignore
  docs/source/getting_started.md
  src/abqpy/cli.py
  src/abqpy/run.py
  tests/conftest.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, feature

#5251 [workflow] Update release-drafter workflow and fix docs code blocks
  .github/codecov.yml
  .github/release-drafter-2016.yml
  .github/release-drafter-2017.yml
  .github/release-drafter-2019.yml
  .github/release-drafter-2020.yml
  .github/release-drafter-2021.yml
  .github/release-drafter-2022.yml
  .github/release-drafter-2023.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  docs/source/user/examples/plot.md
  docs/source/user/examples/settings.md
  docs/source/user/output/python/exceptions.md
  docs/source/user/output/python/write.md
  docs/source/user/python/introduction/programming.md
  docs/source/user/python/introduction/python-basics.md
  docs/source/user/python/python-abaqus/errors.md
  docs/source/user/python/python-abaqus/oop.md
  docs/source/user/python/python-abaqus/style.md
  docs/source/user/python/python-abaqus/types.md
  src/abaqusGui.py
  src/abaqusTester.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow
