Repository haiiliin/abqpy, pull requests merged in 2023-06, with the labels that each got.

#4532 fix: name parameter is mandatory in Surface constructor
  src/abaqus/Region/RegionAssembly.py
  src/abaqus/Region/RegionPart.py
  src/abaqus/Region/Surface.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, typing

#4540 fix: default parameter for `direction` added
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ArcByCenterEnds.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, typing

#4548 fix: add default parameter to ArcByCenterEnds (2)
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ConstrainedSketchGeometryModel.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, typing

#4556 [docs] Update docs version
  docs/source/conf.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4573 [automation] Clean PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation

#4572 [docs] Add project links in the sidebar
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4588 [docs] Update user docs
  docs/source/user/environment/pde-basics.md
  docs/source/user/environment/use-pde.md
  docs/source/user/output/python/examples.md
  docs/source/user/output/python/object-model.md
  docs/source/user/output/python/read.md
  docs/source/user/python/introduction/python-basics.md
  docs/source/user/python/python-abaqus/extending.md
  docs/source/user/python/python-abaqus/style.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4596 [automation] Add the prettier pre-commit hook
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/mergify.yml
  .github/release-drafter-2016.yml
  .github/release-drafter-2017.yml
  .github/release-drafter-2018.yml
  .github/release-drafter-2019.yml
  .github/release-drafter-2020.yml
  .github/release-drafter-2021.yml
  .github/release-drafter-2022.yml
  .github/release-drafter-2023.yml
  .github/workflows/changes.yml
  .github/workflows/conflicts.yml
  .github/workflows/docs.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/rtd.yml
  .github/workflows/translations.yml
  .pre-commit-config.yaml
  .prettierignore
  README-zh-cn.md
  README.md
  docs/README.md
  docs/source/cli.md
  docs/source/envvars.md
  docs/source/getting_started.md
  docs/source/localization.md
  docs/source/policy.md
  docs/source/reference/index.md
  docs/source/user/environment/pde-basics.md
  docs/source/user/environment/use-pde.md
  docs/source/user/output/cpp/access.md
  docs/source/user/output/cpp/computations.md
  docs/source/user/output/cpp/examples.md
  docs/source/user/output/python/computations.md
  docs/source/user/output/python/read.md
  docs/source/user/python/introduction/python-basics.md
  docs/source/user/python/python-abaqus/extending.md
  docs/source/user/python/use-scripts/object-model.md
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation

#4606 [bugfix] Use the relative file path for the jupyter notebook
  src/abqpy/run.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4607 [docs] skewExample: Create the Abaqus Model in the script
  examples/Abaqus/skewExample.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4624 [bugfix] Fix abqpy CLI issues
  src/abqpy/cli.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4632 [docs] Update executions methods in getting started
  docs/source/getting_started.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022
