Repository haiiliin/abqpy, pull requests merged in 2023-04, with the labels that each got.

#3995 [docs] skip rtd builds in some cases
  .github/mergify.yml
  .readthedocs.yml
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4003 [bugfix] delete rtd rules for detecting changes
  .readthedocs.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4027 [docs] Add quick start in README and update ABAQUS_BAT_PATH doc
  README-zh-cn.md
  README.md
  docs/source/envvars.md
  docs/source/getting_started.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4031 [docs] Update READMEs
  README-zh-cn.md
  README.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4039 [docs] Simplify getting started docs
  .gitignore
  docs/README.md
  docs/source/_autoapi_templates/index.rst
  docs/source/conf.py
  docs/source/getting_started.md
  docs/source/index.md
  requirements/docs.txt
  src/abqpy/decorators.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4047 [docs] Use tab sets for installing method
  README-zh-cn.md
  README.md
  docs/source/_ext/autopkg.py
  docs/source/_ext/version.py
  docs/source/conf.py
  docs/source/getting_started.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4055 [docs] Update getting_started.md
  .github/workflows/tests.yml
  README-zh-cn.md
  README.md
  docs/source/getting_started.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4064 Update docs contents structure
  docs/source/_autoapi_templates/index.rst
  docs/source/conf.py
  docs/source/envvars.md
  docs/source/index.md
  docs/source/reference/index.md
  docs/source/tutorials.md
  docs/source/user/about/examples/create-part.md
  docs/source/user/about/examples/index.md
  docs/source/user/about/examples/read-output.md
  docs/source/user/about/index.md
  docs/source/user/about/interact.md
  docs/source/user/environment/about.md
  docs/source/user/environment/index.md
  docs/source/user/environment/pde-basics.md
  docs/source/user/environment/use-pde.md
  docs/source/user/examples/cantilever.md
  docs/source/user/examples/index.md
  docs/source/user/examples/sensitivity.md
  docs/source/user/examples/settings.md
  docs/source/user/index.md
  docs/source/user/output/cpp/computations.md
  docs/source/user/output/cpp/examples.md
  docs/source/user/output/cpp/index.md
  docs/source/user/output/cpp/object-model.md
  docs/source/user/output/cpp/output-object-model.md
  docs/source/user/output/cpp/read.md
  docs/source/user/output/cpp/write.md
  docs/source/user/output/index.md
  docs/source/user/output/python/computations.md
  docs/source/user/output/python/examples.md
  docs/source/user/output/python/index.md
  docs/source/user/output/python/object-model.md
  docs/source/user/output/python/output-object-model.md
  docs/source/user/output/python/read.md
  docs/source/user/output/python/write.md
  docs/source/user/python/index.md
  docs/source/user/python/introduction/index.md
  docs/source/user/python/introduction/python-basics.md
  docs/source/user/python/python-abaqus/errors.md
  docs/source/user/python/python-abaqus/index.md
  docs/source/user/python/use-scripts/index.md
  docs/source/user/python/use-scripts/namespace.md
  docs/source/user/python/use-scripts/object-model.md
  docs/source/user/python/use-scripts/sequences.md
  docs/source/user/python/use-scripts/user-input.md
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4072 [docs] Add Dassault Systèmes links
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4080 [docs] Update tutorials
  docs/source/tutorials.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4088 [docs] Add sphinx-disqus for commenting
  docs/source/cli.md
  docs/source/conf.py
  docs/source/envvars.md
  docs/source/getting_started.md
  docs/source/index.md
  docs/source/policy.md
  docs/source/tutorials.md
  requirements/docs.txt
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4096 [bugfix] Update jupyter requrements to nbconvert
  requirements/jupyter.txt
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4113 [docs] Fix index comments
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4121 [bugfix] Update classdocumenter extension
  README.md
  docs/source/_ext/classdocumenter.py
  docs/source/conf.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4138 [docs] Update docs headers
  docs/source/_autoapi_templates/index.rst
  docs/source/conf.py
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4146 [typing] add `abaqusConstants` to `odbAccess` module
  src/odbAccess.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, typing, new feature

#4155 [bugfix] Ignore _autoapi_templates/index.rst
  docs/source/conf.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4163 [docs] Make API changes for the docs
  .github/workflows/changes.yml
  .github/workflows/docs.yml
  docs/Makefile
  docs/source/CHANGES.md
  docs/source/_ext/changes.py
  docs/source/conf.py
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4171 [docs] Move changes to references
  docs/source/index.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4179 [workflow] Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, automation, workflow
