Repository haiiliin/abqpy, pull requests merged in 2023-05, with the labels that each got.

#4205 [docs] Add warning message for debugging in getting started
  docs/source/getting_started.md
  src/abqpy/run.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4213 [docs] move debugging warning in getting started
  docs/source/getting_started.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4229 [workflow] Add docformatter config
  .github/workflows/tests.yml
  pyproject.toml
  requirements/dev.txt
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4237 [bugfix] Fix docs warnings
  src/abaqus/Adaptivity/DisplacementAdaptiveMeshConstraintState.py
  src/abaqus/Part/PartBase.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4246 [translation] Do not keep the pot files
  docs/source/locales/update.sh
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, translation

#4254 [workflow] Do not fail the translation workflow when nothing to commit
  .github/workflows/translations.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4265 [translation] Delete oudated po files
  docs/source/locales/zh_CN/LC_MESSAGES/api.po
  docs/source/locales/zh_CN/LC_MESSAGES/user.po
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, translation

#4273 [translation] Add crowdin badge
  README-zh-cn.md
  README.md
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, translation

#4281 [translation][skip ci] Add Crowdin link in locales/README.md
  docs/source/locales/README.md
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, translation

#4291 [workflow] format po files
  .github/delete-deleted-files.py
  .github/workflows/translations.yml
  docs/source/_ext/automembers.py
  docs/source/_ext/changes.py
  docs/source/_ext/classdocumenter.py
  docs/source/_ext/version.py
  docs/source/conf.py
  docs/source/locales/update.sh
  examples/Abaqus/cantilever.py
  examples/Abaqus/skewExample.py
  examples/Abaqus/viewerOpenOdbAndContour.py
  examples/Abaqus/viewerPrintContours.py
  examples/Compression/compression-output.py
  examples/Compression/compression.py
  examples/Parameter-Identification/compression.py
  requirements/dev.txt
  src/ababltin.py
  src/displayGroupMdbToolset.py
  src/displayGroupOdbToolset.py
  src/job.py
  src/load.py
  src/optimization.py
  src/sketch.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4319 [workflow] Add Crowdin workflow
  .github/workflows/crowdin.yml
  pyproject.toml
  requirements/deps.txt
  requirements/dev.txt
  src/abqpy/crowdin.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4327 [workflow] Run pre-commit in changes/translations workflows
  .github/workflows/changes.yml
  .github/workflows/crowdin.yml
  .github/workflows/translations.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4343 [workflow] Move python scripts
  .github/workflows/conflicts.yml
  .github/workflows/crowdin.yml
  .github/workflows/release-news.yml
  pyproject.toml
  scripts/conflicts.py
  scripts/crowdin.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4359 [workflow] rtd check submodules
  .readthedocs.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4367 [skip ci][translation] Update crowdin badges
  README-zh-cn.md
  README.md
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, translation

#4375 [skip ci][translation] Update conf.py: ignore locale/README.md
  docs/source/conf.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, translation

#4384 [docs] Use deterministic version in conf.py
  docs/source/conf.py
  requirements/docs.txt
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4383 [translation] Add translation documentation
  .github/workflows/translations.yml
  docs/source/index.md
  docs/source/localization.md
  docs/source/update.sh
  docs/update-locale.sh
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, translation

#4399 [workflow][skip ci] Pull submodules before updating translations
  .github/workflows/translations.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4407 [skip ci][workflow] Add rtd workflow
  .github/workflows/rtd.yml
  scripts/rtd-version-update.sh
  scripts/rtd.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4415 [skip ci][docs] Update documentation links
  README-zh-cn.md
  README.md
  pyproject.toml
  src/abqpy/__init__.py
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4423 [workflow] Allow empty string for previous input in rtd workflow
  .github/workflows/rtd.yml
  scripts/rtd-version-update.sh
  scripts/rtd.sh
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4431 [workflow] Update rtd redirects with new releases
  .github/workflows/rtd.yml
  scripts/rtd.py
  scripts/rtd.sh
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4447 [workflow] Build rtd version on releases
  .github/workflows/rtd.yml
  scripts/rtd.py
  scripts/rtd.sh
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4455 [skip ci][docs] Update localization documentation
  docs/source/localization.md
Labels: docs, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4463 [skip ci][workflow] Update rtd.py
  scripts/rtd.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4471 [skip ci][bugfix] Fix bug tracker link in pyproject.toml
  pyproject.toml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4479 Move requirements to pyproject.toml
  .github/workflows/docs.yml
  .readthedocs.yml
  docs/requirements.txt
  pyproject.toml
  requirements/deps.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/jupyter.txt
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022

#4489 [bugfix] Move instance creation methods to Assembly
  src/abaqus/Assembly/AssemblyBase.py
  src/abaqus/Assembly/PartInstance.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4498 fix: signature types for SolidExtrude and othes
  src/abaqus/Assembly/AssemblyBase.py
  src/abaqus/Feature/Feature.py
  src/abaqus/Part/PartBase.py
  src/abaqus/Part/PartFeature.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, typing

#4506 [bugfix] Fix XxxType objects' definitions
  src/ababltin.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix

#4507 [workflow] Update release drafters
  .github/release-drafter-2016.yml
  .github/release-drafter-2017.yml
  .github/release-drafter-2018.yml
  .github/release-drafter-2019.yml
  .github/release-drafter-2020.yml
  .github/release-drafter-2021.yml
  .github/release-drafter-2022.yml
  .github/release-drafter-2023.yml
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, workflow

#4523 [bugfix] Fix ConstrainedSketch methods for returning None
  src/abaqus/Sketcher/ConstrainedSketchConstraint/ConstrainedSketchConstraintModel.py
  src/abaqus/Sketcher/ConstrainedSketchDimension/ConstrainedSketchDimensionModel.py
  src/abaqus/Sketcher/ConstrainedSketchGeometry/ConstrainedSketchGeometryModel.py
  src/abaqus/Sketcher/ConstrainedSketchParameter/ConstrainedSketchParameterModel.py
  src/abaqus/Sketcher/ConstrainedSketchVertex/ConstrainedSketchVertexModel.py
Labels: bug, backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix
