Repository haiiliin/abqpy, pull requests merged in 2024-09, with the labels that each got.

#5771 [bugfix] Update version configurations
  pyproject.toml
  src/abqpy/__init__.py
Labels: backport-to-all, bugfix

#5798 [chore] Add sponsors button
  .github/FUNDING.yml
Labels: backport-to-all

#5807 Fix typing errors about part features
  src/abaqus/Feature/Feature.py
  src/abaqus/Material/Material.py
  src/abaqus/Part/PartFeature.py
  src/abaqus/Property/PropertyPart.py
  src/abaqus/StepOutput/FieldOutputRequest.py
  src/abaqus/StepOutput/OutputModel.py
Labels: backport-to-all, typing
