Repository haiiliin/abqpy, pull requests merged in 2024-03, with the labels that each got.

#5556 [bugfix]: Fix type hint errors in Features.py
  src/abaqus/Feature/Feature.py
  src/abaqus/Mesh/MeshPart.py
  src/abaqus/Part/PartFeature.py
Labels: backport-to-2016, backport-to-2017, backport-to-2018, backport-to-2019, backport-to-2020, backport-to-2021, backport-to-2022, bugfix, backport-to-2023

#5566 [automation] Update the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: backport-to-all, automation

#5575 [bugfix] Add startup argument for abaqus.cae
  src/abqpy/cli.py
Labels: backport-to-all, bugfix

#5586 [bugfix] Move circular imports to `TYPE_CHECKING` blocks
  src/abaqus/Adaptivity/RuleResult.py
  src/abaqus/Assembly/AssemblyModel.py
  src/abaqus/Assembly/ModelInstance.py
  src/abaqus/Connector/ConnectorBehaviorOption.py
  src/abaqus/Model/ModelBase.py
  src/abaqus/Part/PartBase.py
Labels: bugfix
