Repository haiiliin/abqpy, pull requests merged in 2025-01, with the labels that each got.

#5904 [build-feat]: Adjust `pyproject.toml` with new PEP
  pyproject.toml
  tox.ini
Labels: backport-to-all, feature

#5924 [workflow] Use pdm to manage dependencies
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  .github/workflows/translations.yml
  .gitignore
  pdm.lock
  pyproject.toml
  tox.ini
Labels: backport-to-all, workflow

#5934 [bugfix] Update copyrigh year in licence
  LICENSE
Labels: backport-to-all, bugfix

#5903 [feature] Add some missing members
  src/abaqus/Odb/FieldOutput.py
  src/abaqus/Session/SessionBase.py
  src/abaqus/UtilityAndView/SymbolicConstant.py
  src/abaqus/UtilityAndView/abaqusConstants.py
  src/abaqus/__init__.py
  src/abqpy/__init__.py
  src/jobMessage.py
Labels: backport-to-all, feature

#5955 [bugfix] Move methods for creating models to `Mdb` class
  src/abaqus/Mdb/Mdb.py
  src/abaqus/Model/ModelBase.py
Labels: backport-to-all, bugfix
